openapi: 3.1.0
info:
  title: API AbacatePay
  description: API para gestión de cobros y pagos usando AbacatePay.
  version: 1.0.0
servers:
  - url: https://api.abacatepay.com/v1
    description: Servidor único para los entornos de producción y sandbox.
paths:
  /customer/create:
    post:
      summary: Crear un nuevo cliente
      description: Te permite crear un nuevo cliente para tu tienda.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Los datos de tu cliente en caso de que desees crearlo al momento de crear tu cobro.
              required: ['name', 'cellphone', 'email', 'taxId']
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: Nombre completo de tu cliente
                  example: Daniel Lima
                cellphone:
                  type: string
                  description: Celular del cliente
                  example: (11) 4002-8922
                email:
                  type: string
                  description: E-mail del cliente
                  example: daniel_lima@abacatepay.com
                taxId:
                  type: string
                  description: CPF o CNPJ válido del cliente.
                  example: 123.456.789-01
      responses:
        '200':
          description: Cliente creado exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /customer/list:
    get:
      summary: Listar clientes
      description: Te permite recuperar una lista de todos tus clientes.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de clientes retornada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de clientes.
                    items:
                      $ref: '#/components/schemas/Customer'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /coupon/create:
    post:
      summary: Crear un nuevo cupón
      description: Permite que crees un nuevo cupón que puede ser usado por tus clientes para aplicar descuentos.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Coupon'
                error:
                  type: 'null'
      responses:
        '200':
          description: Cliente creado con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /coupon/list:
    get:
      summary: Listar cupones
      description: Permite que recuperes una lista de todos tus cupones.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de cupones retornada con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cupones.
                    items:
                      $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /billing/create:
    post:
      summary: Crear una nueva facturación
      description: Permite que crees un enlace de facturación para que tu cliente te pague.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                frequency:
                  type: string
                  description: Define el tipo de frecuencia de la facturación. Para facturaciones únicas, usa `ONE_TIME`. Para facturaciones que pueden ser pagadas más de una vez, usa `MULTIPLE_PAYMENTS`.
                  enum: ['ONE_TIME', 'MULTIPLE_PAYMENTS']
                  default: 'ONE_TIME'
                  example: 'ONE_TIME'
                methods:
                  type: array
                  description: Métodos de pago que serán utilizados. Actualmente, únicamente PIX es soportado.
                  items:
                    type: string
                    enum: ['PIX']
                  minItems: 1
                  maxItems: 1
                  uniqueItems: true
                  default: ['PIX']
                  example: ['PIX']
                products:
                  type: array
                  description: Lista de productos que tu cliente está pagando.
                  items:
                    type: object
                    properties:
                      externalId:
                        type: string
                        description: El id del producto en tu sistema. Utilizamos ese id para crear tu producto en AbacatePay de forma automática, entonces asegúrate de que tu id sea único.
                        example: 'prod-1234'
                      name:
                        type: string
                        description: Nombre del producto.
                        example: 'Suscripción de Programa Fitness'
                      description:
                        type: string
                        description: Descripción detallada del producto.
                        example: 'Acceso al programa fitness premium por 1 mes.'
                      quantity:
                        type: integer
                        description: Cantidad del producto siendo adquirida.
                        minimum: 1
                        example: 2
                      price:
                        type: integer
                        description: Precio por unidad del producto en centavos. El mínimo es 100 (1 BRL).
                        minimum: 100
                        example: 2000
                    required: ['externalId', 'name', 'quantity', 'price']
                    additionalProperties: false
                  minItems: 1
                  example:
                    - externalId: 'prod-1234'
                      name: 'Suscripción de Programa Fitness'
                      description: 'Acceso al programa fitness premium por 1 mes.'
                      quantity: 2
                      price: 2000
                returnUrl:
                  type: string
                  format: uri
                  description: URL para redirigir al cliente caso el mismo haga clic en la opción "Volver".
                  example: 'https://example.com/billing'
                completionUrl:
                  type: string
                  format: uri
                  description: URL para redirigir al cliente cuando el pago sea concluido.
                  example: 'https://example.com/completion'
                customerId:
                  type: string
                  description: El id de un cliente ya registrado en tu tienda.
                  example: 'cust_abcdefghij'
                customer:
                  type: object
                  description: Datos de tu cliente. Caso el cliente no exista será creado.
                  required: ['name', 'cellphone', 'email', 'taxId']
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                      description: Nombre completo de tu cliente
                      example: Daniel Lima
                    cellphone:
                      type: string
                      description: Celular del cliente
                      example: (11) 4002-8922
                    email:
                      type: string
                      description: E-mail del cliente
                      example: daniel_lima@abacatepay.com
                    taxId:
                      type: string
                      description: CPF o CNPJ del cliente.
                      example: 123.456.789-01
                allowCoupons: 
                  type: boolean
                  default: false
                  example: false
                  description: Si es verdadero cupones pueden ser usados en la facturación
                coupons: 
                  type: array
                  description: Lista de cupones disponibles para ser usados con la facturación
                  example: ['ABKT10', "ABKT5", "PROMO10"]
                  default: []
                  maxItems: 50
                  items:
                    type: string
                externalId:
                  type: string
                  description: Caso tengas un identificador único de tu aplicación para facturaciones, completamente opcional.
                  example: 'tu_id_123'

              required: ['frequency', 'methods', 'products', 'returnUrl', 'completionUrl']
              additionalProperties: false
      responses:
        '200':
          description: Facturación creada con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /billing/list:
    get:
      summary: Listar facturaciones
      description: Permite que recuperes una lista de todas las facturaciones creadas.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de facturaciones retornada con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de facturaciones creadas.
                    items:
                      $ref: '#/components/schemas/Billing'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /pixQrCode/create:
    post:
      summary: 'Crear QRCode PIX'
      description: Permite que crees un código copia-y-pega y un QRCode Pix para que tu cliente haga el pago.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Valor de la facturación en centavos.
                expiresIn:
                  type: number
                  description: Tiempo de expiración de la facturación en segundos.
                description:
                  type: string
                  maxLength: 140
                  description: Mensaje que aparecerá en la hora del pago del PIX.
                customer:
                  type: object
                  description: |
                    Los datos de tu cliente para crearlo.
                    El objeto de customer no es obligatorio, pero al informar cualquier información del `customer` todos los campos `name`, `cellphone`, `email` y `taxId` son obligatorios.
                  required: ['name', 'cellphone', 'email', 'taxId']
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                      description: Nombre completo de tu cliente
                      example: Daniel Lima
                    cellphone:
                      type: string
                      description: Celular del cliente
                      example: (11) 4002-8922
                    email:
                      type: string
                      description: E-mail del cliente
                      example: daniel_lima@abacatepay.com
                    taxId:
                      type: string
                      description: CPF o CNPJ del cliente.
                      example: 123.456.789-01
                metadata:
                      type: object
                      description: Metadatos opcionales para la facturación
                      additionalProperties: true
                      default:
                       externalId: '123'
              required: ['amount']
              additionalProperties: false
      responses:
        '200':
          description: QRCode Pix creado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /pixQrCode/check:
    get:
      summary: 'Verificar Estado'
      description: Verificar estado del pago del QRCode Pix.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Estado retornado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Información sobre el progreso del QRCode Pix.
                        enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
                        example: 'PENDING'
                      expiresAt:
                        type: string
                        description: Fecha de expiración del QRCode Pix
                        example: '2025-03-25T21:50:20.772Z'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
      parameters:
        - name: id
          in: query
          description: ID del QRCode Pix
          required: true
          schema:
            type: string
  /pixQrCode/simulate-payment:
    post:
      summary: 'Simular Pago'
      description: Simula el pago de un QRCode Pix creado en el modo de desarrollo.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  description: Metadatos opcionales para la petición
                  default: {}
      responses:
        '200':
          description: Pago realizado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
      parameters:
        - name: id
          in: query
          description: ID del QRCode Pix
          required: true
          schema:
            type: string
  /withdraw/create:
    post:
      summary: Crear un nuevo retiro
      description: Permite que crees un nuevo retiro para transferir valores de tu cuenta para una clave PIX.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Datos necesarios para crear un retiro.
              required: ['externalId', 'method', 'amount', 'pix']
              additionalProperties: false
              properties:
                description:
                  type: string
                  description: Descripción opcional del retiro.
                  example: Retiro para cuenta principal
                externalId:
                  type: string
                  description: Identificador único del retiro en tu sistema.
                  example: 'withdraw-1234'
                method:
                  type: string
                  description: Método de retiro disponible.
                  enum: ['PIX']
                  example: 'PIX'
                amount:
                  type: number
                  description: Valor del retiro en centavos.
                  minimum: 350
                  example: 5000
                pix:
                  type: object
                  description: Datos de la clave PIX para recibir el retiro.
                  required: ['type', 'key']
                  additionalProperties: false
                  properties:
                    type:
                      type: string
                      description: Tipo de la clave PIX.
                      enum: ['CPF', 'CNPJ', 'PHONE', 'EMAIL', 'RANDOM']
                      example: 'CPF'
                    key:
                      type: string
                      description: Valor de la clave PIX.
                      example: '123.456.789-01'
      responses:
        '200':
          description: Retiro creado con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Transaction'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
  /withdraw/list:
    get:
      summary: Listar retiros
      description: Permite que recuperes una lista de todos los retiros creados.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de retiros retornada con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de retiros creados.
                    items:
                      $ref: '#/components/schemas/Transaction'
                  error:
                    type: 'null'
        '401':
          description: No autorizado. Fallo en la autenticación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensaje de error describiendo el motivo del fallo en la autenticación.
                    example: 'Token de autenticación inválido o ausente.'
components:
  schemas:
    Customer:
      type: object
      description: Los datos de tu cliente.
      required: ['name', 'cellphone', 'email', 'taxId']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único del cliente
          example: 'bill_123456'
        metadata:
          type: object
          description: Datos del cliente
          properties:
            name:
              type: string
              description: Nombre completo de tu cliente
              example: Daniel Lima
            cellphone:
              type: string
              description: Celular del cliente
              example: (11) 4002-8922
            email:
              type: string
              description: E-mail del cliente
              example: daniel_lima@abacatepay.com
            taxId:
              type: string
              description: CPF o CNPJ del cliente.
              example: 123.456.789-01
    Coupon:
      type: object
      description: Los datos de tu cupón.
      required: ['code', 'discount', 'discountKind']
      additionalProperties: false
      properties:
        code:
          type: string
          description: Identificador único del cupón
          example: DEYVIN_20
        notes:
          type: string
          description: Descripción sobre el cupón
          example: Cupón de descuento para mi público
        maxRedeems:
          type: number
          description: Cantidad de veces en que el cupón puede ser canjeado. -1 Significa que ese cupón puede ser canjeado sin límites
          example: 10
          default: -1
        discountKind:
          type: string
          description: Tipo de descuento aplicado, porcentaje o fijo
          enum: ['PERCENTAGE', 'FIXED']
        discount:
          type: number
          description: Valor de descuento a ser aplicado
        metadata:
          type: object
          description: Objeto clave valor para metadatos del cupón
          default: {}
    CouponResponse:
      type: object
      description: Los datos de tu cupón.
      required: ['id', 'discount', 'discountKind', 'status', 'createdAt', 'updatedAt']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único del cupón
          example: DEYVIN_20
        notes:
          type: string
          description: Descripción sobre el cupón
          example: Cupón de descuento para mi público
        maxRedeems:
          type: integer
          description: Cantidad de veces en que el cupón puede ser canjeado. -1 significa ilimitado.
          example: -1
          default: 10
        redeemsCount:
          type: integer
          description: Cantidad de veces que el cupón ya fue canjeado.
          example: 0
        discountKind:
          type: string
          description: Tipo de descuento aplicado, porcentaje o fijo
          enum: ['PERCENTAGE', 'FIXED']
          example: PERCENTAGE
        discount:
          type: number
          description: Valor de descuento a ser aplicado
          example: 123
        devMode:
          type: boolean
          description: Indica si el cupón fue creado en ambiente de pruebas.
          example: true
        status:
          type: string
          description: Estado actual del cupón.
          enum: ['ACTIVE', 'INACTIVE', 'EXPIRED']
          example: ACTIVE
        createdAt:
          type: string
          format: date-time
          description: Fecha de creación del cupón.
          example: '2025-05-25T23:43:25.250Z'
        updatedAt:
          type: string
          format: date-time
          description: Fecha de actualización del cupón.
          example: '2025-05-25T23:43:25.250Z'
        metadata:
          type: object
          description: Objeto clave valor para metadatos del cupón
          default: {}

    Billing:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la facturación.
          example: 'bill_123456'
        url:
          type: string
          format: uri
          description: URL donde el usuario puede concluir el pago.
          example: 'https://pay.abacatepay.com/bill-5678'
        amount:
          type: number
          description: Valor total a ser pagado en centavos.
          example: 4000
        status:
          type: string
          description: Estado actual de la facturación.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Indica si la facturación fue creada en ambiente de pruebas.
          example: true
        methods:
          type: array
          description: Métodos de pago soportados para esta facturación.
          items:
            type: string
            enum: ['PIX']
          example: ['PIX']
        products:
          type: array
          description: Lista de productos en la facturación.
          items:
            type: object
            properties:
              id:
                type: string
                description: Identificador único del producto.
                example: 'prod_123456'
              externalId:
                type: string
                description: El id del producto en tu sistema.
                example: 'prod-1234'
              quantity:
                type: integer
                description: Cantidad del producto siendo adquirida.
                example: 2
        frequency:
          type: string
          description: Frecuencia de la facturación.
          enum: ['ONE_TIME', 'MULTIPLE_PAYMENTS']
          example: 'ONE_TIME'
        nextBilling:
          type: string
          format: date-time
          nullable: true
          description: Fecha y hora de la próxima facturación, o null para facturaciones únicas.
          example: 'null'
        customer:
          type: object
          nullable: true
          $ref: '#/components/schemas/Customer'
        allowCoupons: 
          type: boolean
          nullable: true
          default: false
          description: Si es verdadero cupones pueden ser usados en la facturación
        coupons: 
          type: array
          description: Lista de cupones disponibles para ser usados con la facturación
          nullable: true
          default: []
          items:
            type: string
      required:
        ['id', 'url', 'amount', 'status', 'devMode', 'methods', 'products', 'frequency', 'createdAt', 'updatedAt']
    PixQRCode:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del QRCode Pix.
          example: 'pix_char_123456'
        amount:
          type: number
          description: Valor a ser pagado.
          example: 100
        status:
          type: string
          description: Información sobre el progreso del QRCode Pix.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Ambiente en el cual el QRCode Pix fue creado.
          example: true
        brCode:
          type: string
          description: Código copia-y-pega del QRCode Pix.
          example: '00020101021226950014br.gov.bcb.pix'
        brCodeBase64:
          type: string
          description: Imagen en Base64 del QRCode Pix.
          example: 'data:image/png;base64,iVBORw0KGgoAAA'
        platformFee:
          type: number
          description: Tasas de la plataforma
          example: 80
        createdAt:
          type: string
          description: Fecha de creación del QRCode Pix.
          example: '2025-03-24T21:50:20.772Z'
        updatedAt:
          type: string
          description: Fecha de actualización del QRCode Pix.
          example: '2025-03-24T21:50:20.772Z'
        expiresAt:
          type: string
          description: Fecha de expiración del QRCode Pix
          example: '2025-03-25T21:50:20.772Z'
    Transaction:
      type: object
      description: Datos de una transacción (pago o retiro).
      properties:
        id:
          type: string
          description: Identificador único de la transacción.
          example: 'tran_123456'
        status:
          type: string
          description: Estado actual de la transacción.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'COMPLETE', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Indica si la transacción fue creada en ambiente de pruebas.
          example: true
        receiptUrl:
          type: string
          format: uri
          description: URL del comprobante de la transacción.
          example: 'https://abacatepay.com/receipt/tran_123456'
        kind:
          type: string
          description: Tipo de la transacción.
          enum: ['PAYMENT', 'WITHDRAW']
          example: 'WITHDRAW'
          default: 'WITHDRAW'
        amount:
          type: number
          description: Valor de la transacción en centavos.
          example: 5000
        platformFee:
          type: number
          description: Tasa de la plataforma en centavos.
          example: 80
        externalId:
          type: string
          description: Identificador externo de la transacción.
          example: 'withdraw-1234'
        createdAt:
          type: string
          format: date-time
          description: Fecha de creación de la transacción.
          example: '2025-03-24T21:50:20.772Z'
        updatedAt:
          type: string
          format: date-time
          description: Fecha de actualización de la transacción.
          example: '2025-03-24T21:50:20.772Z'
      required:
        ['id', 'status', 'devMode', 'receiptUrl', 'kind', 'amount', 'platformFee', 'createdAt', 'updatedAt']
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cabecera de autenticación Bearer en el formato `Bearer <abacatepay-api-key>` donde `<abacatepay-api-key>` es tu clave de API. 