openapi: 3.1.0
info:
  title: API AbacatePay
  description: API para gerenciamento de cobranças e pagamentos usando o AbacatePay.
  version: 1.0.0
servers:
  - url: https://api.abacatepay.com/v1
    description: Único servidor para os ambientes de produção e sandbox.
paths:
  /customers/create:
    post:
      summary: Criar um novo cliente
      description: |
        Permite que você crie um novo cliente para a sua loja.
        
        **Campo obrigatório**: Apenas o `email` é obrigatório para criar um cliente.
        
        **Recomendado**: Embora os demais campos sejam opcionais, é altamente recomendado fornecer `name`, `cellphone`, `taxId` e `zipCode` quando disponíveis, pois essas informações melhoram a experiência do cliente no checkout e facilitam a identificação.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                Os dados do seu cliente.
                
                **Obrigatório**: Apenas `email` é obrigatório.
                
                **Opcional mas recomendado**: `name`, `cellphone`, `taxId`, `zipCode` e `metadata` são opcionais, mas recomendados para melhor experiência do cliente.
              required: ['email']
              additionalProperties: false
              example:
                email: daniel_lima@abacatepay.com
              properties:
                email:
                  type: string
                  description: E-mail do cliente (obrigatório)
                  example: daniel_lima@abacatepay.com
                name:
                  type: string
                  description: Nome completo do seu cliente (opcional)
                  example: Daniel Lima
                  x-mint:
                    hidden: true
                cellphone:
                  type: string
                  description: Celular do cliente (opcional)
                  example: (11) 4002-8922
                  x-mint:
                    hidden: true
                taxId:
                  type: string
                  description: CPF ou CNPJ válido do cliente (opcional)
                  example: 123.456.789-01
                  x-mint:
                    hidden: true
                zipCode:
                  type: string
                  description: CEP do cliente (opcional)
                  example: '01310-100'
                  x-mint:
                    hidden: true
                metadata:
                  type: object
                  description: Metadados adicionais do cliente. Campo livre para a sua aplicação (opcional)
                  additionalProperties: true
                  example:
                    source: 'landing-page'
                    campaign: 'black-friday-2025'
                  x-mint:
                    hidden: true
      responses:
        '200':
          description: Cliente criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dados do cliente criado.
                    properties:
                      id:
                        type: string
                        description: Identificador único público do cliente
                        example: 'cust_abc123xyz'
                      devMode:
                        type: boolean
                        description: Indica se o cliente foi criado em ambiente de testes.
                        example: false
                      email:
                        type: string
                        description: E-mail do cliente
                        example: 'customer@example.com'
                        required: true
                      taxId:
                        type: string
                        description: CPF ou CNPJ do cliente
                        example: '12345678900'
                      country:
                        type: string
                        description: País do cliente
                        example: 'BR'
                      name:
                        type: string
                        description: Nome completo do cliente
                        example: 'João Silva'
                      cellphone:
                        type: string
                        description: Celular do cliente
                        example: '+5511999999999'
                      zipCode:
                        type: string
                        description: CEP do cliente
                        example: '01310-100'
                      metadata:
                        type: object
                        description: Metadados adicionais do cliente
                        additionalProperties: true
                        example:
                          customField: 'value'
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /customers/list:
    get:
      summary: Listar clientes
      description: |
        Retorna todos os clientes que você cadastrou com suporte a paginação.
        
        Você pode usar essa rota para visualizar todos os seus clientes e suas informações.
        
        **Alternativa**: Você também pode visualizar e gerenciar seus clientes pelo [Dashboard da AbacatePay](https://www.abacatepay.com/app/clientes).
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Número da página (começa em 1)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Quantidade de itens por página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Lista de clientes retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de clientes.
                    items:
                      type: object
                      description: Dados do cliente.
                    properties:
                      id:
                        type: string
                        description: Identificador único público do cliente
                        example: 'cust_aebxkhDZNaMmJeKsy0AHS0FQ'
                      devMode:
                        type: boolean
                        description: Indica se o cliente foi criado em ambiente de testes.
                        example: true
                      name:
                        type: string
                        description: Nome completo do cliente
                        example: Daniel Lima
                      cellphone:
                        type: string
                        description: Celular do cliente
                        example: '(11) 4002-8922'
                      email:
                        type: string
                        description: E-mail do cliente
                        example: daniel_lima@abacatepay.com
                      taxId:
                        type: string
                        description: CPF ou CNPJ do cliente
                        example: '123.456.789-01'
                      metadata:
                        type: object
                        description: Metadados adicionais do cliente
                        additionalProperties: true
                        example:
                          source: 'landing-page'
                          campaign: 'black-friday-2025'
                      required:
                        - id
                        - devMode
                        - name
                        - cellphone
                        - email
                        - taxId
                      additionalProperties: false
                  pagination:
                    type: object
                    description: Informações de paginação
                    properties:
                      page:
                        type: integer
                        description: Página atual
                        example: 1
                      limit:
                        type: integer
                        description: Quantidade de itens por página
                        example: 20
                      total:
                        type: integer
                        description: Total de itens
                        example: 150
                      totalPages:
                        type: integer
                        description: Total de páginas
                        example: 8
                    required: ['page', 'limit', 'total', 'totalPages']
                    additionalProperties: false
                  error:
                    type: 'string'
                    example: null
                    nullable: true
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /customers/get:
    get:
      summary: Buscar um cliente
      description: |
        Retorna os dados de um cliente específico baseado em filtros.
        
        Você pode usar essa rota para buscar um cliente por ID ou outros critérios.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único público do cliente
          required: false
          schema:
            type: string
            example: 'cust_aebxkhDZNaMmJeKsy0AHS0FQ'
      responses:
        '200':
          description: Cliente encontrado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                      type: object
                      description: Dados do cliente.
                      properties:
                        id:
                          type: string
                          description: Identificador único público do cliente
                          example: 'cust_aebxkhDZNaMmJeKsy0AHS0FQ'
                        devMode:
                          type: boolean
                          description: Indica se o cliente foi criado em ambiente de testes.
                          example: true
                        name:
                          type: string
                          description: Nome completo do cliente
                          example: Daniel Lima
                        cellphone:
                          type: string
                          description: Celular do cliente
                          example: '(11) 4002-8922'
                        email:
                          type: string
                          description: E-mail do cliente
                          example: daniel_lima@abacatepay.com
                        taxId:
                          type: string
                          description: CPF ou CNPJ do cliente
                          example: '123.456.789-01'
                        metadata:
                          type: object
                          description: Metadados adicionais do cliente
                          additionalProperties: true
                          example:
                            source: 'landing-page'
                            campaign: 'black-friday-2025'
                      required: ['id', 'devMode', 'name', 'cellphone', 'email', 'taxId']
                      additionalProperties: false
                  error:
                    type: 'string'
                    example: null
                    nullable: true
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Cliente não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cliente não foi encontrado.
                    example: 'Cliente não encontrado.'
  /customers/delete:
    delete:
      summary: Deletar um cliente
      description: |
        Remove um cliente da sua loja.
        
        Esta operação é irreversível. Use com cuidado.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados para identificar o cliente a ser deletado.
              required: ['id']
              additionalProperties: false
              properties:
                id:
                  type: string
                  description: Identificador único público do cliente a ser deletado
                  example: 'cust_aebxkhDZNaMmJeKsy0AHS0FQ'
      responses:
        '200':
          description: Cliente deletado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dados do cliente deletado.
                    properties:
                      id:
                        type: string
                        description: Identificador único público do cliente
                        example: 'cust_aebxkhDZNaMmJeKsy0AHS0FQ'
                      devMode:
                        type: boolean
                        description: Indica se o cliente foi criado em ambiente de testes.
                        example: true
                      name:
                        type: string
                        description: Nome completo do cliente
                        example: Daniel Lima
                      cellphone:
                        type: string
                        description: Celular do cliente
                        example: '(11) 4002-8922'
                      email:
                        type: string
                        description: E-mail do cliente
                        example: daniel_lima@abacatepay.com
                      taxId:
                        type: string
                        description: CPF ou CNPJ do cliente
                        example: '123.456.789-01'
                      metadata:
                        type: object
                        description: Metadados adicionais do cliente
                        additionalProperties: true
                        example:
                          source: 'landing-page'
                          campaign: 'black-friday-2025'
                    required: ['id', 'devMode', 'name', 'cellphone', 'email', 'taxId']
                    additionalProperties: false
                  error:
                    type: 'string'
                    example: null
                    nullable: true
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Cliente não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cliente não foi encontrado.
                    example: 'Cliente não encontrado.'
  /coupons/create:
    post:
      summary: Criar um novo cupom
      description: |
        Permite que você crie um novo cupom que pode ser usado por seus clientes para aplicar descontos.
        
        **Alternativa**: Você também pode criar e gerenciar seus cupons pelo [Dashboard da AbacatePay](https://www.abacatepay.com/app/cupons).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
                  $ref: '#/components/schemas/Coupon'
      responses:
        '200':
          description: Cupom criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'string'
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /coupons/list:
    get:
      summary: Listar cupons
      description: |
        Retorna todos os cupons que você criou com suporte a paginação.
        
        Você pode usar essa rota para visualizar todos os seus cupons, incluindo seus status (ativos, inativos ou expirados), descontos aplicados e quantas vezes foram utilizados.
        
        **Alternativa**: Você também pode visualizar e gerenciar seus cupons pelo [Dashboard da AbacatePay](https://www.abacatepay.com/app/cupons).
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Número da página (começa em 1)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Quantidade de itens por página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Lista de cupons retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cupons.
                    items:
                      $ref: '#/components/schemas/CouponResponse'
                  pagination:
                    type: object
                    description: Informações de paginação
                    properties:
                      page:
                        type: integer
                        description: Página atual
                        example: 1
                      limit:
                        type: integer
                        description: Quantidade de itens por página
                        example: 20
                      total:
                        type: integer
                        description: Total de itens
                        example: 150
                      totalPages:
                        type: integer
                        description: Total de páginas
                        example: 8
                    required: ['page', 'limit', 'total', 'totalPages']
                    additionalProperties: false
                  error:
                    type: 'string'
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /coupons/get:
    get:
      summary: Buscar um cupom
      description: |
        Retorna os dados de um cupom específico baseado em filtros.
        
        Você pode usar essa rota para buscar um cupom por ID ou outros critérios.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único do cupom
          required: false
          schema:
            type: string
            example: 'MY_COUPON'
      responses:
        '200':
          description: Cupom encontrado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'string'
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Cupom não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cupom não foi encontrado.
                    example: 'Cupom não encontrado.'
  /coupons/delete:
    delete:
      summary: Deletar um cupom
      description: |
        Remove um cupom da sua loja.
        
        Esta operação é irreversível. Use com cuidado.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados para identificar o cupom a ser deletado.
              required: ['id']
              additionalProperties: false
              properties:
                id:
                  type: string
                  description: Identificador único do cupom a ser deletado
                  example: 'MY_COUPON'
      responses:
        '200':
          description: Cupom deletado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'string'
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Cupom não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cupom não foi encontrado.
                    example: 'Cupom não encontrado.'
  /coupons/toggle:
    patch:
      summary: Alternar status de um cupom
      description: |
        Alterna o status de um cupom entre ativo e inativo.
        
        Use essa rota para ativar ou desativar um cupom sem precisar deletá-lo.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados para identificar o cupom a ser alternado.
              required: ['id']
              additionalProperties: false
              properties:
                id:
                  type: string
                  description: Identificador único do cupom
                  example: 'MY_COUPON'
      responses:
        '200':
          description: Status do cupom alternado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'string'
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Cupom não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cupom não foi encontrado.
                    example: 'Cupom não encontrado.'
  /checkouts/create:
    post:
      summary: Criar uma cobrança com nosso Checkout
      description: Cria uma cobrança com checkout integrado e retorna a URL para o cliente concluir o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              additionalProperties: false
              example:
                items:
                  - id: prod-1234
                    quantity: 2
              properties:
                items:
                  type: array
                  description: |
                    Lista de itens incluídos na cobrança.
                    Este é o único campo obrigatório — o valor total é calculado a partir destes itens.
                  minItems: 1
                  items:
                    type: object
                    additionalProperties: false
                    required: [id, quantity]
                    properties:
                      id:
                        type: string
                        description: ID público do produto na sua loja.
                        example: prod-1234
                      quantity:
                        type: integer
                        description: Quantidade deste item.
                        minimum: 1
                        example: 2
                method:
                  type: string
                  description: Método de pagamento disponível.
                  enum: ['PIX', 'CARD']
                  x-mint:
                    hidden: true
                returnUrl:
                  type: string
                  format: uri
                  description: URL para onde o cliente será redirecionado ao clicar em "Voltar" no checkout.
                  x-mint:
                    hidden: true
                completionUrl:
                  type: string
                  format: uri
                  description: URL para onde o cliente será redirecionado após o pagamento ser concluído.
                  x-mint:
                    hidden: true
                customerId:
                  type: string
                  description: |
                    ID de um cliente já cadastrado na sua loja.
                    Se informado, o checkout será pré-preenchido com os dados deste cliente.
                    
                    **Exemplo**: `"cust_abcdefghij"`
                  x-mint:
                    hidden: true
                customer:
                  type: object
                  description: |
                    Dados do cliente. Se o cliente ainda não existir, será criado automaticamente.
                    Opcional quando `customerId` for usado.
                    
                    **Importante**: O objeto `customer` não é obrigatório, mas ao informar qualquer campo do `customer`, todos os campos (`name`, `cellphone`, `email` e `taxId`) se tornam obrigatórios.
                  additionalProperties: false
                  required: [name, cellphone, email, taxId]
                  x-mint:
                    hidden: true
                  properties:
                    name:
                      type: string
                      description: |
                        Nome completo do cliente.
                        
                        **Exemplo**: `"Daniel Lima"`
                    cellphone:
                      type: string
                      description: |
                        Celular do cliente.
                        
                        **Exemplo**: `"11 4002-8922"`
                    email:
                      type: string
                      description: |
                        E-mail do cliente.
                        
                        **Exemplo**: `"daniel_lima@abacatepay.com"`
                    taxId:
                      type: string
                      description: |
                        CPF ou CNPJ do cliente.
                        
                        **Exemplo**: `"123.456.789-01"`
                coupons:
                  type: array
                  description: |
                    Lista de cupons que podem ser utilizados nesta cobrança.
                    
                    **Exemplo**: `["ABKT10", "ABKT5", "PROMO10"]`
                  items:
                    type: string
                  maxItems: 50
                  x-mint:
                    hidden: true

                externalId:
                  type: string
                  description: |
                    ID da cobrança no seu sistema, caso queira manter uma referência própria.
                    
                    **Exemplo**: `"seu_id_123"`
                  x-mint:
                    hidden: true

                metadata:
                  type: object
                  description: |
                    Metadados adicionais da cobrança. Campo livre para a sua aplicação.
                    
                    **Exemplo**:
                    ```json
                    {
                      "source": "landing-page-black-friday",
                      "campaign": "BF-2025"
                    }
                    ```
                  additionalProperties: true
                  x-mint:
                    hidden: true
      responses:
        "200":
          description: Cobrança criada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Billing"
                  error:
                    type: "string"
                    nullable: true
                    example: null
        "401":
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Motivo da falha na autenticação.
                    example: Token de autenticação inválido ou ausente.
  /checkouts/get:
    get:
      summary: Buscar uma cobrança
      description: |
        Retorna os dados de uma cobrança específica usando o ID.
        
        Você pode usar essa rota para buscar uma cobrança por ID e visualizar seus detalhes, status e informações relacionadas.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único da cobrança
          required: true
          schema:
            type: string
            example: 'bill_abc123xyz'
      responses:
        '200':
          description: Cobrança encontrada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Cobrança não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que a cobrança não foi encontrada.
                    example: 'Cobrança não encontrada.'
  /checkouts/list:
    get:
      summary: Listar cobranças
      description: |
        Retorna todas as cobranças que você criou.
        
        Você pode usar essa rota para listar todas suas cobranças e visualizar seus status, valores e informações relacionadas.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cobranças listadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cobranças.
                    items:
                      $ref: '#/components/schemas/Billing'
                  error:
                    type: 'null'
        '401':
          description: Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Token de autenticação inválido ou ausente.'
  /transparents/create:
    post:
      summary: 'Criar QRCode PIX'
      description: Permite que você crie um código copia-e-cola e um QRCode Pix para seu cliente fazer o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                amount: 10000
              properties:
                amount:
                  type: number
                  description: Valor da cobrança em centavos.
                expiresIn:
                  type: number
                  description: Tempo de expiração da cobrança em segundos.
                  x-mint:
                    hidden: true
                description:
                  type: string
                  maxLength: 140
                  description: Mensagem que aparecerá na hora do pagamento do PIX.
                  x-mint:
                    hidden: true
                customer:
                  type: object
                  description: |
                    Os dados do seu cliente para criá-lo.
                    O objeto de customer não é obrigatório, mas ao informar qualquer informação do `customer` todos os campos `name`, `cellphone`, `email` e `taxId` são obrigatórios.
                  required: ['name', 'cellphone', 'email', 'taxId']
                  additionalProperties: false
                  x-mint:
                    hidden: true
                  properties:
                    name:
                      type: string
                      description: Nome completo do seu cliente
                      example: Daniel Lima
                    cellphone:
                      type: string
                      description: Celular do cliente
                      example: (11) 4002-8922
                    email:
                      type: string
                      description: E-mail do cliente
                      example: daniel_lima@abacatepay.com
                    taxId:
                      type: string
                      description: CPF ou CNPJ do cliente.
                      example: 123.456.789-01
                metadata:
                  type: object
                  description: Metadados opcionais para a cobrança
                  additionalProperties: true
                  x-mint:
                    hidden: true
              required: ['amount']
              additionalProperties: false
      responses:
        '200':
          description: QRCode Pix criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: 'string'
                    example: null
                    nullable: true
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /transparents/check:
    get:
      summary: 'Checar Status'
      description: Checar status do pagamento do QRCode Pix.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status retornado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Informação sobre o andamento do QRCode Pix.
                        enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
                        example: 'PENDING'
                      expiresAt:
                        type: string
                        description: Data de expiração do QRCode Pix
                        example: '2025-03-25T21:50:20.772Z'
                  error:
                    type: 'string'
                    example: null
                    nullable: true  
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
      parameters:
        - name: id
          in: query
          description: ID do QRCode Pix
          required: true
          schema:
            type: string
  /transparents/simulate-payment:
    post:
      summary: 'Simular Pagamento'
      description: Simula o pagamento de um QRCode Pix criado no modo de desenvolvimento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  description: Metadados opcionais para a requisição
                  default: {}
      responses:
        '200':
          description: Pagamento ralizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: 'string'
                    example: null
                    nullable: true
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
      parameters:
        - name: id
          in: query
          description: ID do QRCode Pix
          required: true
          schema:
            type: string
  /payouts/create:
    post:
      summary: Criar um novo payout
      description: |
        Permite que você crie um novo payout para transferir valores da sua conta AbacatePay.
        
        Você pode usar esta rota para:
        - **Realizar saques** da sua conta para sua própria chave PIX
        - **Enviar dinheiro** para outras contas
        - **Realizar pagamentos** diretamente pela API
        - **Efetuar transferências** para fornecedores, parceiros ou terceiros
        
        **Importante**: A chave PIX de destino não precisa ter a mesma titularidade do CNPJ da sua conta. Você pode realizar payouts para qualquer chave PIX válida.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados necessários para criar um payout.
              required: ['amount', 'externalId']
              additionalProperties: false
              example:
                amount: 10000
                externalId: 'saque-123'
              properties:
                amount:
                  type: number
                  description: Valor do payout em centavos.
                  minimum: 350
                  example: 10000
                description:
                  type: string
                  description: Descrição opcional do payout.
                  example: 'Saque para conta bancária'
                  x-mint:
                    hidden: true
                externalId:
                  type: string
                  description: Identificador único do payout em seu sistema.
                  example: 'saque-123'
      responses:
        '200':
          description: Payout criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dados da transação de payout criada.
                    properties:
                      id:
                        type: string
                        description: Identificador único da transação.
                        example: 'txn_abc123xyz'
                      status:
                        type: string
                        description: Status atual da transação.
                        enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'COMPLETE', 'REFUNDED']
                        example: 'PENDING'
                      devMode:
                        type: boolean
                        description: Indica se a transação foi criada em ambiente de testes.
                        example: false
                      receiptUrl:
                        type: string
                        format: uri
                        nullable: true
                        description: URL do comprovante da transação.
                        example: null
                      amount:
                        type: number
                        description: Valor da transação em centavos.
                        example: 10000
                      platformFee:
                        type: number
                        description: Taxa da plataforma em centavos.
                        example: 100
                      externalId:
                        type: string
                        description: Identificador externo da transação.
                        example: 'saque-123'
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da transação.
                        example: '2024-11-04T18:38:28.573Z'
                      updatedAt:
                        type: string
                        format: date-time
                        description: Data de atualização da transação.
                        example: '2024-11-04T18:38:28.573Z'
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /payouts/get:
    get:
      summary: Buscar payout
      description: Permite que você recupere os detalhes de um payout específico usando o externalId.
      security:
        - bearerAuth: []
      parameters:
        - name: externalId
          in: query
          description: Identificador único do payout em seu sistema.
          required: true
          schema:
            type: string
            example: 'saque-123'
      responses:
        '200':
          description: Detalhes do payout retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dados da transação de payout.
                    properties:
                      id:
                        type: string
                        description: Identificador único da transação.
                        example: 'txn_abc123xyz'
                      status:
                        type: string
                        description: Status atual da transação.
                        enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'COMPLETE', 'REFUNDED']
                        example: 'COMPLETE'
                      devMode:
                        type: boolean
                        description: Indica se a transação foi criada em ambiente de testes.
                        example: false
                      receiptUrl:
                        type: string
                        format: uri
                        nullable: true
                        description: URL do comprovante da transação.
                        example: 'https://app.abacatepay.com/receipt/txn_abc123xyz'
                      amount:
                        type: number
                        description: Valor da transação em centavos.
                        example: 10000
                      platformFee:
                        type: number
                        description: Taxa da plataforma em centavos.
                        example: 100
                      externalId:
                        type: string
                        description: Identificador externo da transação.
                        example: 'saque-123'
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da transação.
                        example: '2024-11-04T18:38:28.573Z'
                      updatedAt:
                        type: string
                        format: date-time
                        description: Data de atualização da transação.
                        example: '2024-11-04T19:15:42.123Z'
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Saque não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    nullable: true
                    example: null
                  error:
                    type: string
                    description: Mensagem de erro indicando que o saque não foi encontrado.
                    example: 'Saque não encontrado com o externalId fornecido.'
  /payouts/list:
    get:
      summary: Listar payouts
      description: |
        Permite que você recupere uma lista de todos os payouts criados com suporte a paginação.
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Número da página (começa em 1)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Quantidade de itens por página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Lista de payouts retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de saques criados.
                    items:
                      $ref: '#/components/schemas/Transaction'
                  pagination:
                    type: object
                    description: Informações de paginação
                    properties:
                      page:
                        type: integer
                        description: Página atual
                        example: 1
                      limit:
                        type: integer
                        description: Quantidade de itens por página
                        example: 20
                      total:
                        type: integer
                        description: Total de itens
                        example: 150
                      totalPages:
                        type: integer
                        description: Total de páginas
                        example: 8
                    required: ['page', 'limit', 'total', 'totalPages']
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /subscriptions/create:
    post:
      summary: Criar uma nova assinatura
      description: |
        Permite que você crie uma nova assinatura para cobranças recorrentes automáticas.
        
        Esta rota é ideal para criar planos de assinatura com cobranças periódicas, como planos mensais, anuais ou personalizados. As assinaturas são processadas automaticamente de acordo com a frequência configurada.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados necessários para criar uma assinatura.
              required: ['amount', 'name', 'externalId', 'method', 'frequency', 'customerId']
              additionalProperties: false
              example:
                amount: 10000
                name: 'Plano Premium Mensal'
                externalId: 'subs-123'
                description: 'Assinatura mensal do plano premium'
                method: 'PIX'
                frequency:
                  cycle: 'MONTHLY'
                  dayOfProcessing: 5
                retryPolicy:
                  maxRetry: 3
                  retryEvery: 2
                customerId: 'cust_abc123xyz'
              properties:
                amount:
                  type: number
                  description: Valor da assinatura em centavos.
                  minimum: 1
                  example: 10000
                name:
                  type: string
                  description: Nome da assinatura.
                  example: 'Plano Premium Mensal'
                externalId:
                  type: string
                  description: Identificador único da assinatura em seu sistema.
                  example: 'subs-123'
                description:
                  type: string
                  description: Descrição opcional da assinatura.
                  example: 'Assinatura mensal do plano premium'
                  x-mint:
                    hidden: true
                method:
                  type: string
                  description: Método de pagamento da assinatura.
                  enum: ['PIX', 'CARD']
                  example: 'PIX'
                frequency:
                  type: object
                  description: Configuração da frequência de cobrança.
                  required: ['cycle', 'dayOfProcessing']
                  additionalProperties: false
                  properties:
                    cycle:
                      type: string
                      description: Ciclo de cobrança da assinatura.
                      enum: ['MONTHLY', 'YEARLY', 'WEEKLY', 'DAILY']
                      example: 'MONTHLY'
                    dayOfProcessing:
                      type: integer
                      description: Dia do mês em que a cobrança será processada (1-31).
                      minimum: 1
                      maximum: 31
                      example: 5
                retryPolicy:
                  type: object
                  description: Política de retentativa em caso de falha no pagamento.
                  required: ['maxRetry', 'retryEvery']
                  additionalProperties: false
                  properties:
                    maxRetry:
                      type: integer
                      description: Número máximo de tentativas de cobrança.
                      minimum: 1
                      maximum: 10
                      example: 3
                    retryEvery:
                      type: integer
                      description: Intervalo em dias entre tentativas de cobrança.
                      minimum: 1
                      maximum: 30
                      example: 2
                  x-mint:
                    hidden: true
                customerId:
                  type: string
                  description: Identificador do cliente que terá a assinatura.
                  example: 'cust_abc123xyz'
      responses:
        '200':
          description: Assinatura criada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /subscriptions/list:
    get:
      summary: Listar assinaturas
      description: |
        Permite que você recupere uma lista de todas as assinaturas criadas com suporte a paginação baseada em cursor.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Quantidade de itens por página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: cursor
          in: query
          description: Cursor para paginação (obtido na resposta anterior)
          required: false
          schema:
            type: string
            example: '507f1f77bcf86cd799439011'
      responses:
        '200':
          description: Lista de assinaturas retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de assinaturas.
                    items:
                      $ref: '#/components/schemas/Subscription'
                  pagination:
                    type: object
                    description: Informações de paginação baseada em cursor.
                    required: ['limit', 'hasNext', 'hasPrevious']
                    additionalProperties: false
                    properties:
                      limit:
                        type: integer
                        description: Limite de itens por página.
                        example: 20
                      nextCursor:
                        type: string
                        nullable: true
                        description: Cursor para próxima página.
                        example: '507f1f77bcf86cd799439011'
                      hasNext:
                        type: boolean
                        description: Indica se existe próxima página.
                        example: true
                      hasPrevious:
                        type: boolean
                        description: Indica se existe página anterior.
                        example: false
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /store/get:
    get:
      summary: Obter detalhes da loja
      description: Permite que você recupere os detalhes da sua conta/loja, incluindo informações de saldo.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Detalhes da loja retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Store'
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /public-mrr/merchant-info:
    get:
      summary: Obter informações do merchant
      description: Retorna informações básicas da loja (nome, website e data de criação).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Informações do merchant retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Nome da loja
                        example: 'Example Tech'
                      website:
                        type: string
                        description: Website da loja
                        example: 'https://www.example.com'
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da loja
                        example: '2024-12-06T18:53:31.756Z'
                    required: ['name', 'website', 'createdAt']
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /public-mrr/mrr:
    get:
      summary: Obter MRR (Monthly Recurring Revenue)
      description: Retorna o MRR (receita recorrente mensal) e o total de assinaturas ativas da loja.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dados de MRR retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      mrr:
                        type: number
                        description: Receita recorrente mensal em centavos. Valor 0 indica que não há receita recorrente no momento.
                        example: 0
                      totalActiveSubscriptions:
                        type: integer
                        description: Total de assinaturas ativas. Valor 0 indica que não há assinaturas ativas no momento.
                        example: 0
                    required: ['mrr', 'totalActiveSubscriptions']
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /public-mrr/revenue:
    get:
      summary: Obter receita por período
      description: Retorna a receita total, total de transações e transações por dia em um período específico. Os dados são cacheados por 1 hora (3600 segundos) para melhor performance. A data de fim deve ser posterior à data de início.
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          required: true
          description: Data de início do período (formato YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          required: true
          description: Data de fim do período (formato YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-01-31'
      responses:
        '200':
          description: Dados de receita retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totalRevenue:
                        type: number
                        description: Receita total do período em centavos
                        example: 150000
                      totalTransactions:
                        type: integer
                        description: Total de transações no período
                        example: 45
                      transactionsPerDay:
                        type: object
                        description: Objeto com transações agrupadas por dia (chave é a data no formato YYYY-MM-DD)
                        additionalProperties:
                          type: object
                          properties:
                            amount:
                              type: number
                              description: Valor total das transações do dia em centavos
                              example: 5000
                            count:
                              type: integer
                              description: Quantidade de transações do dia
                              example: 3
                          required: ['amount', 'count']
                          additionalProperties: false
                        example:
                          '2024-01-15':
                            amount: 5000
                            count: 3
                          '2024-01-16':
                            amount: 3000
                            count: 2
                    required: ['totalRevenue', 'totalTransactions', 'transactionsPerDay']
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
        '400':
          description: Erro de validação. Parâmetros inválidos ou ausentes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o problema de validação.
                    example: 'Start date and end date are required'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
components:
  schemas:
    Customer:
      type: object
      description: Os dados do seu cliente.
      required: ['id', 'devMode', 'name', 'cellphone', 'email', 'taxId']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único público do cliente
          example: 'cust_aebxkhDZNaMmJeKsy0AHS0FQ'
        devMode:
          type: boolean
          description: Indica se o cliente foi criado em ambiente de testes.
          example: true
        name:
          type: string
          description: Nome completo do cliente
          example: Daniel Lima
        cellphone:
          type: string
          description: Celular do cliente
          example: '(11) 4002-8922'
        email:
          type: string
          description: E-mail do cliente
          example: daniel_lima@abacatepay.com
        taxId:
          type: string
          description: CPF ou CNPJ do cliente
          example: '123.456.789-01'
        metadata:
          type: object
          description: Metadados adicionais do cliente
          additionalProperties: true
          example:
            source: 'landing-page'
            campaign: 'black-friday-2025'
    Coupon:
      type: object
      description: Os dados do seu cupom.
      required: ['code', 'discount', 'discountKind']
      additionalProperties: false
      properties:
        code:
          type: string
          description: Identificador único do cupom
          example: DEYVIN_20
        notes:
          type: string
          description: Descrição sbre o cupom
          example: Cupom de desconto pro meu público
        maxRedeems:
          type: number
          description: Quantidade de vezes em que o cupom pode ser resgatado. -1 Significa que esse cupom pode ser resgatado sem limites
          example: 10
          default: -1
        discountKind:
          type: string
          description: Tipo de desconto aplicado, porcentagem ou fixo
          enum: ['PERCENTAGE', 'FIXED']
        discount:
          type: number
          description: Valor de desconto a ser aplicado
        metadata:
          type: object
          description: Objeto chave valor para metadados do cupom
          default: {}
    CouponResponse:
      type: object
      description: Os dados do seu cupom.
      required: ['id', 'discount', 'discountKind', 'status', 'createdAt', 'updatedAt']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único do cupom
          example: DEYVIN_20
        notes:
          type: string
          description: Descrição sobre o cupom
          example: Cupom de desconto pro meu público
        maxRedeems:
          type: integer
          description: Quantidade de vezes em que o cupom pode ser resgatado. -1 significa ilimitado.
          example: -1
          default: 10
        redeemsCount:
          type: integer
          description: Quantidade de vezes que o cupom já foi resgatado.
          example: 0
        discountKind:
          type: string
          description: Tipo de desconto aplicado, porcentagem ou fixo
          enum: ['PERCENTAGE', 'FIXED']
          example: PERCENTAGE
        discount:
          type: number
          description: Valor de desconto a ser aplicado
          example: 123
        devMode:
          type: boolean
          description: Indica se o cupom foi criado em ambiente de testes.
          example: true
        status:
          type: string
          description: Status atual do cupom.
          enum: ['ACTIVE', 'INACTIVE', 'EXPIRED']
          example: ACTIVE
        createdAt:
          type: string
          format: date-time
          description: Data de criação do cupom.
          example: '2025-05-25T23:43:25.250Z'
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização do cupom.
          example: '2025-05-25T23:43:25.250Z'
        metadata:
          type: object
          description: Objeto chave valor para metadados do cupom
          default: {}

    Billing:
      type: object
      properties:
        id:
          type: string
          description: Identificador único da cobrança.
          example: 'bill_abc123xyz'
        externalId:
          type: string
          nullable: true
          description: ID da cobrança no seu sistema.
          example: 'pedido-123'
        url:
          type: string
          format: uri
          description: URL onde o usuário pode concluir o pagamento.
          example: 'https://app.abacatepay.com/pay/bill_abc123xyz'
        amount:
          type: number
          description: Valor total a ser pago em centavos.
          example: 10000
        paidAmount:
          type: number
          nullable: true
          description: Valor já pago em centavos. Null se ainda não foi pago.
          example: null
        items:
          type: array
          description: Lista de itens na cobrança.
          items:
            type: object
            properties:
              id:
                type: string
                description: ID do produto.
                example: 'prod_456'
              quantity:
                type: integer
                description: Quantidade do item.
                example: 2
        status:
          type: string
          description: Status atual da cobrança.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        coupons: 
          type: array
          description: Lista de cupons aplicados na cobrança.
          items:
            type: string
          example: []
        devMode:
          type: boolean
          description: Indica se a cobrança foi criada em ambiente de testes.
          example: false
        customerId:
          type: string
          nullable: true
          description: ID do cliente associado à cobrança.
          example: null
        returnUrl:
          type: string
          format: uri
          nullable: true
          description: URL para onde o cliente será redirecionado ao clicar em "Voltar".
          example: null
        completionUrl:
          type: string
          format: uri
          nullable: true
          description: URL para onde o cliente será redirecionado após o pagamento.
          example: null
        receiptUrl:
          type: string
          format: uri
          nullable: true
          description: URL do comprovante de pagamento.
          example: null
        metadata:
          type: object
          description: Metadados adicionais da cobrança.
          additionalProperties: true
          example: {}
        createdAt:
          type: string
          format: date-time
          description: Data e hora de criação da cobrança.
          example: '2024-11-04T18:38:28.573Z'
        updatedAt:
          type: string
          format: date-time
          description: Data e hora da última atualização da cobrança.
          example: '2024-11-04T18:38:28.573Z'
    PixQRCode:
      type: object
      properties:
        id:
          type: string
          description: Identificador único do QRCode Pix.
          example: 'pix_char_123456'
        amount:
          type: number
          description: Valor a ser pago.
          example: 100
        status:
          type: string
          description: Informação sobre o andamento do QRCode Pix.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Ambiente no qual o QRCode Pix foi criado.
          example: true
        brCode:
          type: string
          description: Código copia-e-cola do QRCode Pix.
          example: '00020101021226950014br.gov.bcb.pix'
        brCodeBase64:
          type: string
          description: Imagem em Base64 do QRCode Pix.
          example: 'data:image/png;base64,iVBORw0KGgoAAA'
        platformFee:
          type: number
          description: Taxas da plataforma
          example: 80
        createdAt:
          type: string
          description: Data de criação do QRCode Pix.
          example: '2025-03-24T21:50:20.772Z'
        updatedAt:
          type: string
          description: Data de atualização do QRCode Pix.
          example: '2025-03-24T21:50:20.772Z'
        expiresAt:
          type: string
          description: Data de expiração do QRCode Pix
          example: '2025-03-25T21:50:20.772Z'
    Transaction:
      type: object
      description: Dados de uma transação (pagamento ou saque).
      properties:
        id:
          type: string
          description: Identificador único da transação.
          example: 'tran_123456'
        status:
          type: string
          description: Status atual da transação.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'COMPLETE', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Indica se a transação foi criada em ambiente de testes.
          example: true
        receiptUrl:
          type: string
          format: uri
          description: URL do comprovante da transação.
          example: 'https://abacatepay.com/receipt/tran_123456'
        kind:
          type: string
          description: Tipo da transação.
          enum: ['PAYMENT', 'WITHDRAW']
          example: 'WITHDRAW'
          default: 'WITHDRAW'
        amount:
          type: number
          description: Valor da transação em centavos.
          example: 5000
        platformFee:
          type: number
          description: Taxa da plataforma em centavos.
          example: 80
        externalId:
          type: string
          description: Identificador externo da transação.
          example: 'withdraw-1234'
        createdAt:
          type: string
          format: date-time
          description: Data de criação da transação.
          example: '2025-03-24T21:50:20.772Z'
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização da transação.
          example: '2025-03-24T21:50:20.772Z'
      required:
        ['id', 'status', 'devMode', 'receiptUrl', 'kind', 'amount', 'platformFee', 'createdAt', 'updatedAt']
    Store:
      type: object
      description: Dados da loja/conta do usuário.
      required: ['id', 'name', 'balance']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único da loja.
          example: 'store_abc123xyz'
        name:
          type: string
          description: Nome da loja.
          example: 'Minha Loja'
        balance:
          type: object
          description: Informações de saldo da loja.
          required: ['available', 'pending', 'blocked']
          additionalProperties: false
          properties:
            available:
              type: number
              description: Saldo disponível para saque em centavos.
              example: 50000
            pending:
              type: number
              description: Saldo pendente de confirmação em centavos.
              example: 10000
            blocked:
              type: number
              description: Saldo bloqueado em disputas em centavos.
              example: 0
    Frequency:
      type: object
      description: Configuração da frequência de cobrança da assinatura.
      required: ['cycle']
      additionalProperties: false
      properties:
        cycle:
          type: string
          description: Ciclo de cobrança da assinatura.
          enum: ['MONTHLY', 'YEARLY', 'WEEKLY', 'DAILY']
          example: 'MONTHLY'
        dayOfProcessing:
          type: integer
          description: Dia do mês em que a cobrança será processada (1-31).
          minimum: 1
          maximum: 31
          example: 5
    RetryPolicy:
      type: object
      description: Política de retentativa em caso de falha no pagamento.
      required: ['maxRetry', 'retryEvery']
      additionalProperties: false
      properties:
        maxRetry:
          type: integer
          description: Número máximo de tentativas de cobrança.
          minimum: 1
          maximum: 10
          example: 3
        retryEvery:
          type: integer
          description: Intervalo em dias entre tentativas de cobrança.
          minimum: 1
          maximum: 30
          example: 2
    SubscriptionEvent:
      type: object
      description: Evento relacionado à assinatura.
      required: ['event', 'description', 'createdAt']
      additionalProperties: false
      properties:
        event:
          type: string
          description: Tipo do evento.
          example: 'CREATED'
        description:
          type: string
          description: Descrição do evento.
          example: 'Subscription was created.'
        createdAt:
          type: string
          format: date-time
          description: Data de criação do evento.
          example: '2024-11-04T18:38:28.573Z'
    Subscription:
      type: object
      description: Dados de uma assinatura (subscription).
      required: ['id', 'externalId', 'name', 'description', 'amount', 'currency', 'method', 'status', 'frequency', 'customerId', 'devMode', 'events', 'createdAt', 'updatedAt']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único da assinatura.
          example: 'subs_abc123xyz'
        externalId:
          type: string
          description: Identificador externo da assinatura.
          example: 'subs-123'
        name:
          type: string
          description: Nome da assinatura.
          example: 'Plano Premium Mensal'
        description:
          type: string
          description: Descrição da assinatura.
          example: 'Assinatura mensal do plano premium'
        amount:
          type: number
          description: Valor da assinatura em centavos.
          example: 10000
        currency:
          type: string
          description: Moeda da assinatura.
          example: 'BRL'
        method:
          type: string
          description: Método de pagamento da assinatura.
          enum: ['PIX', 'CARD']
          example: 'PIX'
        status:
          type: string
          description: Status atual da assinatura.
          enum: ['PENDING', 'ACTIVE', 'CANCELLED', 'EXPIRED', 'FAILED']
          example: 'PENDING'
        frequency:
          $ref: '#/components/schemas/Frequency'
        retryPolicy:
          oneOf:
            - $ref: '#/components/schemas/RetryPolicy'
            - type: 'null'
        customerId:
          type: string
          description: Identificador do cliente que possui a assinatura.
          example: 'cust_abc123xyz'
        devMode:
          type: boolean
          description: Indica se a assinatura foi criada em ambiente de testes.
          example: false
        events:
          type: array
          description: Lista de eventos relacionados à assinatura.
          items:
            $ref: '#/components/schemas/SubscriptionEvent'
        createdAt:
          type: string
          format: date-time
          description: Data de criação da assinatura.
          example: '2024-11-04T18:38:28.573Z'
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização da assinatura.
          example: '2024-11-04T18:38:28.573Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Todas as requisições devem incluir sua chave de API no header Authorization usando o formato `Bearer <abacatepay-api-key>`. Sem esse header a requisição será rejeitada.
        
        Saiba mais sobre como criar e usar chaves de API na [documentação de autenticação](/pages/authentication).