openapi: 3.1.0
info:
  title: API AbacatePay
  description: API para gerenciamento de cobranças e pagamentos usando o AbacatePay.
  version: 1.0.0
servers:
  - url: 'https://api.abacatepay.com/v2'
    description: Único servidor para os ambientes de produção e sandbox.
paths:
  /customers/create:
    post:
      summary: Criar um cliente
      description: >
        Permite que você crie um cliente para a sua loja.


        **Campo obrigatório**: Apenas o `email` é obrigatório para criar um
        cliente.


        **Recomendado**: Embora os demais campos sejam opcionais, é altamente
        recomendado fornecer `name`, `cellphone`, `taxId` e `zipCode` quando
        disponíveis, pois essas informações melhoram a experiência do cliente no
        checkout e facilitam a identificação.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >
                Os dados do seu cliente.


                **Obrigatório**: Apenas `email` é obrigatório.


                **Opcional mas recomendado**: `name`, `cellphone`, `taxId`,
                `zipCode` e `metadata` são opcionais, mas recomendados para
                melhor experiência do cliente.
              required:
                - email
              additionalProperties: false
              example:
                email: daniel_lima@abacatepay.com
              properties:
                email:
                  type: string
                  description: E-mail do cliente (obrigatório)
                  example: daniel_lima@abacatepay.com
                name:
                  type: string
                  description: Nome completo do seu cliente (opcional)
                  example: Daniel Lima
                  x-mint:
                    hidden: true
                cellphone:
                  type: string
                  description: Celular do cliente (opcional)
                  example: (11) 4002-8922
                  x-mint:
                    hidden: true
                taxId:
                  type: string
                  description: CPF ou CNPJ válido do cliente (opcional)
                  example: 123.456.789-01
                  x-mint:
                    hidden: true
                zipCode:
                  type: string
                  description: CEP do cliente (opcional)
                  example: 01310-100
                  x-mint:
                    hidden: true
                metadata:
                  type: object
                  description: >-
                    Metadados adicionais do cliente. Campo livre para a sua
                    aplicação (opcional)
                  additionalProperties: true
                  example:
                    source: landing-page
                    campaign: black-friday-2025
                  x-mint:
                    hidden: true
      responses:
        '200':
          description: Cliente criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /customers/list:
    get:
      summary: Listar clientes
      description: >
        Retorna todos os clientes que você cadastrou com suporte a paginação.


        Você pode usar essa rota para visualizar todos os seus clientes e suas
        informações.


        **Alternativa**: Você também pode visualizar e gerenciar seus clientes
        pelo [Dashboard da AbacatePay](https://app.abacatepay.com/clientes).
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do cliente
          required: false
          schema:
            type: string
            example: cust_aebxkhDZNaMmJeKsy0AHS0FQ
        - name: email
          in: query
          description: Filtrar por e-mail do cliente
          required: false
          schema:
            type: string
            example: daniel_lima@abacatepay.com
        - name: taxId
          in: query
          description: Filtrar por CPF ou CNPJ do cliente
          required: false
          schema:
            type: string
            example: 123.456.789-01
      responses:
        '200':
          description: Lista de clientes retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de clientes.
                    items:
                      $ref: '#/components/schemas/Customer'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    example: null
                    nullable: true
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /customers/get:
    get:
      summary: Buscar um cliente
      description: >
        Retorna os dados de um cliente específico baseado em filtros.


        Você pode usar essa rota para buscar um cliente por ID ou outros
        critérios.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único público do cliente
          required: false
          schema:
            type: string
            example: cust_aebxkhDZNaMmJeKsy0AHS0FQ
      responses:
        '200':
          description: Cliente encontrado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
                  error:
                    type: string
                    example: null
                    nullable: true
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Cliente não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro indicando que o cliente não foi
                      encontrado.
                    example: Cliente não encontrado.
  /customers/delete:
    post:
      summary: Deletar um cliente
      description: |
        Remove um cliente da sua loja.

        Esta operação é irreversível. Use com cuidado.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          description: Identificador único público do cliente a ser deletado
          schema:
            type: string
            example: cust_aebxkhDZNaMmJeKsy0AHS0FQ
      responses:
        '200':
          description: Cliente deletado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
                  error:
                    type: string
                    example: null
                    nullable: true
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Cliente não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro indicando que o cliente não foi
                      encontrado.
                    example: Cliente não encontrado.
  /coupons/create:
    post:
      summary: Criar um cupom
      description: >
        Permite que você crie um novo cupom que pode ser usado por seus clientes
        para aplicar descontos.


        **Alternativa**: Você também pode criar e gerenciar seus cupons pelo
        [Dashboard da AbacatePay](https://app.abacatepay.com/cupons).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Coupon'
      responses:
        '200':
          description: Cupom criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /coupons/list:
    get:
      summary: Listar cupons
      description: >
        Retorna todos os cupons que você criou com suporte a paginação.


        Você pode usar essa rota para visualizar todos os seus cupons, incluindo
        seus status (ativos, inativos ou expirados), descontos aplicados e
        quantas vezes foram utilizados.


        **Alternativa**: Você também pode visualizar e gerenciar seus cupons
        pelo [Dashboard da AbacatePay](https://app.abacatepay.com/cupons).
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do cupom
          required: false
          schema:
            type: string
            example: DEYVIN_20
        - name: status
          in: query
          description: Filtrar por status do cupom
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
              - EXPIRED
      responses:
        '200':
          description: Lista de cupons retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cupons.
                    items:
                      $ref: '#/components/schemas/CouponResponse'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /coupons/get:
    get:
      summary: Buscar um cupom
      description: >
        Retorna os dados de um cupom específico baseado em filtros.


        Você pode usar essa rota para buscar um cupom por ID ou outros
        critérios.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único do cupom
          required: false
          schema:
            type: string
            example: MY_COUPON
      responses:
        '200':
          description: Cupom encontrado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Cupom não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cupom não foi encontrado.
                    example: Cupom não encontrado.
  /coupons/delete:
    post:
      summary: Deletar um cupom
      description: |
        Remove um cupom da sua loja.

        Esta operação é irreversível. Use com cuidado.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          description: Identificador único do cupom a ser deletado
          schema:
            type: string
            example: MY_COUPON
      responses:
        '200':
          description: Cupom deletado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Cupom não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cupom não foi encontrado.
                    example: Cupom não encontrado.
  /coupons/toggle:
    post:
      summary: Alternar status de um cupom
      description: |
        Alterna o status de um cupom entre ativo e inativo.

        Use essa rota para ativar ou desativar um cupom sem precisar deletá-lo.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          description: Identificador único do cupom
          schema:
            type: string
            example: MY_COUPON
      responses:
        '200':
          description: Status do cupom alternado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Cupom não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro indicando que o cupom não foi encontrado.
                    example: Cupom não encontrado.
  /products/create:
    post:
      summary: Criar um produto
      description: >
        Permite que você crie um novo produto que pode ser usado em cobranças.

        Produtos podem ser avulsos (pagamento único) ou de assinatura; use o
        campo opcional `cycle` para definir a recorrência (`WEEKLY`, `MONTHLY`,
        `SEMIANNUALLY`, `ANNUALLY`). Quando `cycle` é omitido ou `null`, o
        produto é avulso.


        **Alternativa**: Você também pode criar e gerenciar seus produtos pelo
        [Dashboard da AbacatePay](https://app.abacatepay.com/produtos).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados necessários para criar um produto.
              required:
                - externalId
                - name
                - price
                - currency
              additionalProperties: false
              example:
                externalId: prod-123
                name: Produto Exemplo
                price: 10000
                currency: BRL
              properties:
                externalId:
                  type: string
                  description: Identificador único do produto no seu sistema.
                  example: prod-123
                name:
                  type: string
                  description: Nome do produto.
                  example: Produto Exemplo
                price:
                  type: number
                  description: Preço do produto em centavos.
                  minimum: 1
                  example: 10000
                currency:
                  type: string
                  description: Moeda do produto.
                  default: BRL
                  example: BRL
                description:
                  type: string
                  description: Descrição opcional do produto.
                  example: Descrição do produto
                  x-mint:
                    hidden: true
                imageUrl:
                  type: string
                  format: uri
                  nullable: true
                  description: URL da imagem do produto. Opcional.
                  example: null
                cycle:
                  type: string
                  nullable: true
                  description: >
                    Opcional. Indica se o produto é uma assinatura. Quando omitido
                    ou `null`, o produto é avulso (pagamento único).

                    Valores possíveis: `WEEKLY`, `MONTHLY`, `SEMIANNUALLY`,
                    `ANNUALLY`.
                  enum:
                    - WEEKLY
                    - MONTHLY
                    - SEMIANNUALLY
                    - ANNUALLY
                  example: null
      responses:
        '200':
          description: Produto criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /products/list:
    get:
      summary: Listar produtos
      description: >
        Retorna todos os produtos que você criou com suporte a paginação.


        Você pode usar essa rota para visualizar todos os seus produtos,
        incluindo status, preços, ciclo de assinatura (quando aplicável) e
        demais informações.


        **Alternativa**: Você também pode visualizar e gerenciar seus produtos
        pelo [Dashboard da AbacatePay](https://app.abacatepay.com/produtos).
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do produto
          required: false
          schema:
            type: string
            example: prod_abc123xyz
        - name: externalId
          in: query
          description: Filtrar por identificador do produto no seu sistema
          required: false
          schema:
            type: string
            example: prod-123
        - name: status
          in: query
          description: Filtrar por status do produto
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
      responses:
        '200':
          description: Lista de produtos retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de produtos.
                    items:
                      $ref: '#/components/schemas/Product'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /products/get:
    get:
      summary: Buscar um produto
      description: >
        Retorna os dados de um produto específico baseado em filtros, incluindo
        o campo `cycle` (assinatura ou avulso).


        Você pode usar essa rota para buscar um produto por ID ou externalId.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único público do produto
          required: false
          schema:
            type: string
            example: prod_abc123xyz
        - name: externalId
          in: query
          description: Identificador único do produto no seu sistema
          required: false
          schema:
            type: string
            example: prod-123
      responses:
        '200':
          description: Produto encontrado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Produto não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro indicando que o produto não foi
                      encontrado.
                    example: Produto não encontrado.
  /products/delete:
    post:
      summary: Deletar um produto
      description: |
        Remove um produto da sua loja (avulso ou de assinatura).

        Esta operação é irreversível. Use com cuidado.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          description: Identificador único público do produto a ser deletado
          schema:
            type: string
            example: prod_abc123xyz
      responses:
        '200':
          description: Produto deletado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Produto não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro indicando que o produto não foi
                      encontrado.
                    example: Produto não encontrado.
  /checkouts/create:
    post:
      summary: Criar um Checkout
      description: Cria um Checkout para o cliente realizar o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              additionalProperties: false
              example:
                items:
                  - id: prod-1234
                    quantity: 2
              properties:
                items:
                  type: array
                  description: >
                    Lista de itens incluídos na cobrança.

                    Este é o único campo obrigatório — o valor total é calculado
                    a partir destes itens.
                  minItems: 1
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - id
                      - quantity
                    properties:
                      id:
                        type: string
                        description: ID público do produto na sua loja.
                        example: prod-1234
                      quantity:
                        type: integer
                        description: Quantidade deste item.
                        minimum: 1
                        example: 2
                method:
                  type: string
                  description: Método de pagamento disponível.
                  enum:
                    - PIX
                    - CARD
                  x-mint:
                    hidden: true
                returnUrl:
                  type: string
                  format: uri
                  description: >-
                    URL para onde o cliente será redirecionado ao clicar em
                    "Voltar" no checkout.
                  x-mint:
                    hidden: true
                completionUrl:
                  type: string
                  format: uri
                  description: >-
                    URL para onde o cliente será redirecionado após o pagamento
                    ser concluído.
                  x-mint:
                    hidden: true
                customerId:
                  type: string
                  description: >
                    ID de um cliente já cadastrado na sua loja.

                    Se informado, o checkout será pré-preenchido com os dados
                    deste cliente.


                    **Exemplo**: `"cust_abcdefghij"`
                  x-mint:
                    hidden: true
                coupons:
                  type: array
                  description: |
                    Lista de cupons que podem ser utilizados nesta cobrança.

                    **Exemplo**: `["ABKT10", "ABKT5", "PROMO10"]`
                  items:
                    type: string
                  maxItems: 50
                  x-mint:
                    hidden: true
                externalId:
                  type: string
                  description: >
                    ID da cobrança no seu sistema, caso queira manter uma
                    referência própria.


                    **Exemplo**: `"seu_id_123"`
                  x-mint:
                    hidden: true
                metadata:
                  type: object
                  description: >
                    Metadados adicionais da cobrança. Campo livre para a sua
                    aplicação.


                    **Exemplo**:

                    ```json

                    {
                      "source": "landing-page-black-friday",
                      "campaign": "BF-2025"
                    }

                    ```
                  additionalProperties: true
                  x-mint:
                    hidden: true
      responses:
        '200':
          description: Cobrança criada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Motivo da falha na autenticação.
                    example: Token de autenticação inválido ou ausente.
  /checkouts/get:
    get:
      summary: Buscar um Checkout
      description: >
        Retorna os dados de um Checkout específico usando o ID.


        Você pode usar essa rota para buscar um Checkout por ID e visualizar
        seus detalhes, status e informações relacionadas.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único do Checkout
          required: true
          schema:
            type: string
            example: bill_abc123xyz
      responses:
        '200':
          description: Cobrança encontrada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Cobrança não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro indicando que a cobrança não foi
                      encontrada.
                    example: Cobrança não encontrada.
  /payment-links/create:
    post:
      summary: Criar um link de pagamento
      description: >
        Cria um link de pagamento (checkout com frequency MULTIPLE_PAYMENTS).
        Vários clientes podem pagar o mesmo link; não suporta customerId.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              additionalProperties: false
              example:
                frequency: MULTIPLE_PAYMENTS
                items:
                  - id: prod-1234
                    quantity: 2
              properties:
                frequency:
                  type: string
                  description: Tipo de cobrança fixo para links de pagamento.
                  enum:
                    - MULTIPLE_PAYMENTS
                  default: MULTIPLE_PAYMENTS
                  example: MULTIPLE_PAYMENTS
                items:
                  type: array
                  description: >
                    Lista de itens incluídos na cobrança.

                    Este é o único campo obrigatório — o valor total é calculado
                    a partir destes itens.
                  minItems: 1
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - id
                      - quantity
                    properties:
                      id:
                        type: string
                        description: ID público do produto na sua loja.
                        example: prod-1234
                      quantity:
                        type: integer
                        description: Quantidade deste item.
                        minimum: 1
                        example: 2
                method:
                  type: string
                  description: Método de pagamento disponível.
                  enum:
                    - PIX
                    - CARD
                  x-mint:
                    hidden: true
                returnUrl:
                  type: string
                  format: uri
                  description: >-
                    URL para onde o cliente será redirecionado ao clicar em
                    "Voltar" no checkout.
                  x-mint:
                    hidden: true
                completionUrl:
                  type: string
                  format: uri
                  description: >-
                    URL para onde o cliente será redirecionado após o pagamento
                    ser concluído.
                  x-mint:
                    hidden: true
                coupons:
                  type: array
                  description: |
                    Lista de cupons que podem ser utilizados nesta cobrança.

                    **Exemplo**: `["ABKT10", "ABKT5", "PROMO10"]`
                  items:
                    type: string
                  maxItems: 50
                  x-mint:
                    hidden: true
                externalId:
                  type: string
                  description: >
                    ID da cobrança no seu sistema, caso queira manter uma
                    referência própria.


                    **Exemplo**: `"seu_id_123"`
                  x-mint:
                    hidden: true
                metadata:
                  type: object
                  description: >
                    Metadados adicionais da cobrança. Campo livre para a sua
                    aplicação.


                    **Exemplo**:

                    ```json

                    {
                      "source": "landing-page-black-friday",
                      "campaign": "BF-2025"
                    }

                    ```
                  additionalProperties: true
                  x-mint:
                    hidden: true
      responses:
        '200':
          description: Link de pagamento criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /checkouts/list:
    get:
      summary: Listar Checkouts
      description: >
        Retorna todos os Checkouts que você criou.


        Você pode usar essa rota para listar todos seus Checkouts e visualizar
        seus status, valores e informações relacionadas.
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do Checkout
          required: false
          schema:
            type: string
            example: bill_abc123xyz
        - name: externalId
          in: query
          description: Filtrar por identificador do Checkout no seu sistema
          required: false
          schema:
            type: string
            example: pedido-123
        - name: status
          in: query
          description: Filtrar por status do Checkout
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - EXPIRED
              - CANCELLED
              - PAID
              - REFUNDED
        - name: email
          in: query
          description: Filtrar por e-mail do cliente associado
          required: false
          schema:
            type: string
            example: daniel_lima@abacatepay.com
        - name: taxId
          in: query
          description: Filtrar por CPF ou CNPJ do cliente associado
          required: false
          schema:
            type: string
            example: 123.456.789-01
      responses:
        '200':
          description: Checkouts listados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de Checkouts.
                    items:
                      $ref: '#/components/schemas/Billing'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Token de autenticação inválido ou ausente.
  /payment-links/list:
    get:
      summary: Listar links de pagamento
      description: >
        Lista apenas links de pagamento (checkouts com frequency MULTIPLE_PAYMENTS).
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do link de pagamento
          required: false
          schema:
            type: string
            example: bill_abc123xyz
        - name: externalId
          in: query
          description: Filtrar por identificador do link no seu sistema
          required: false
          schema:
            type: string
            example: pedido-123
        - name: status
          in: query
          description: Filtrar por status do link de pagamento
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - EXPIRED
              - CANCELLED
              - PAID
              - REFUNDED
      responses:
        '200':
          description: Links de pagamento listados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de links de pagamento.
                    items:
                      $ref: '#/components/schemas/Billing'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Token de autenticação inválido ou ausente.
  /payment-links/get:
    get:
      summary: Buscar um link de pagamento
      description: >
        Retorna os dados de um link de pagamento específico (checkout com
        frequency MULTIPLE_PAYMENTS) usando o ID.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único do link de pagamento
          required: true
          schema:
            type: string
            example: bill_abc123xyz
      responses:
        '200':
          description: Link de pagamento encontrado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Link de pagamento não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro indicando que o link de pagamento não foi
                      encontrado.
                    example: Link de pagamento não encontrado.
  /transparents/create:
    post:
      summary: Criar QRCode PIX
      description: >-
        Permite que você crie um código copia-e-cola e um QRCode Pix para seu
        cliente fazer o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                amount: 10000
              properties:
                amount:
                  type: number
                  description: Valor da cobrança em centavos.
                expiresIn:
                  type: number
                  description: Tempo de expiração da cobrança em segundos.
                  x-mint:
                    hidden: true
                description:
                  type: string
                  maxLength: 140
                  description: Mensagem que aparecerá na hora do pagamento do PIX.
                  x-mint:
                    hidden: true
                customer:
                  type: object
                  description: >
                    Os dados do seu cliente para criá-lo.

                    O objeto de customer não é obrigatório, mas ao informar
                    qualquer informação do `customer` todos os campos `name`,
                    `cellphone`, `email` e `taxId` são obrigatórios.
                  required:
                    - name
                    - cellphone
                    - email
                    - taxId
                  additionalProperties: false
                  x-mint:
                    hidden: true
                  properties:
                    name:
                      type: string
                      description: Nome completo do seu cliente
                      example: Daniel Lima
                    cellphone:
                      type: string
                      description: Celular do cliente
                      example: (11) 4002-8922
                    email:
                      type: string
                      description: E-mail do cliente
                      example: daniel_lima@abacatepay.com
                    taxId:
                      type: string
                      description: CPF ou CNPJ do cliente.
                      example: 123.456.789-01
                metadata:
                  type: object
                  description: Metadados opcionais para a cobrança
                  additionalProperties: true
                  x-mint:
                    hidden: true
              required:
                - amount
              additionalProperties: false
      responses:
        '200':
          description: QRCode Pix criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: string
                    example: null
                    nullable: true
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /transparents/check:
    get:
      summary: Checar Status
      description: Checar status do pagamento do QRCode Pix.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status retornado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Informação sobre o andamento do QRCode Pix.
                        enum:
                          - PENDING
                          - EXPIRED
                          - CANCELLED
                          - PAID
                          - REFUNDED
                        example: PENDING
                      expiresAt:
                        type: string
                        description: Data de expiração do QRCode Pix
                        example: '2025-03-25T21:50:20.772Z'
                  error:
                    type: string
                    example: null
                    nullable: true
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
      parameters:
        - name: id
          in: query
          description: Identificador único do Checkout Transparente
          required: true
          schema:
            type: string
  /transparents/simulate-payment:
    post:
      summary: Simular Pagamento
      description: Simula o pagamento de um QRCode Pix criado no modo de desenvolvimento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  description: Metadados opcionais para a requisição
                  default: {}
      responses:
        '200':
          description: Pagamento ralizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: string
                    example: null
                    nullable: true
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
      parameters:
        - name: id
          in: query
          description: Identificador único do Checkout Transparente
          required: true
          schema:
            type: string
  /transparents/list:
    get:
      summary: Listar Checkouts Transparentes
      description: >
        Retorna todos os Checkouts Transparentes (QRCodes PIX) que você criou.


        Você pode usar essa rota para listar todos os seus checkouts
        transparentes e visualizar seus status, valores e informações
        relacionadas.
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do QRCode Pix
          required: false
          schema:
            type: string
            example: pix_char_123456
        - name: status
          in: query
          description: Filtrar por status do QRCode Pix
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - EXPIRED
              - CANCELLED
              - PAID
              - REFUNDED
      responses:
        '200':
          description: Checkouts transparentes listados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de Checkouts Transparentes (QRCodes PIX).
                    items:
                      $ref: '#/components/schemas/PixQRCode'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /payouts/create:
    post:
      summary: Criar um payout
      description: >
        Permite que você crie um novo payout para transferir valores da sua
        conta AbacatePay.


        Você pode usar esta rota para:

        - **Realizar saques** da sua conta para sua própria chave PIX

        - **Enviar dinheiro** para outras contas

        - **Realizar pagamentos** diretamente pela API

        - **Efetuar transferências** para fornecedores, parceiros ou terceiros


        **Importante**: A chave PIX de destino não precisa ter a mesma
        titularidade do CNPJ da sua conta. Você pode realizar payouts para
        qualquer chave PIX válida.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados necessários para criar um payout.
              required:
                - amount
                - externalId
              additionalProperties: false
              example:
                amount: 10000
                externalId: saque-123
              properties:
                amount:
                  type: number
                  description: Valor do payout em centavos.
                  minimum: 350
                  example: 10000
                description:
                  type: string
                  description: Descrição opcional do payout.
                  example: Saque para conta bancária
                  x-mint:
                    hidden: true
                externalId:
                  type: string
                  description: Identificador único do payout em seu sistema.
                  example: saque-123
      responses:
        '200':
          description: Payout criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dados da transação de payout criada.
                    properties:
                      id:
                        type: string
                        description: Identificador único da transação.
                        example: txn_abc123xyz
                      status:
                        type: string
                        description: Status atual da transação.
                        enum:
                          - PENDING
                          - EXPIRED
                          - CANCELLED
                          - COMPLETE
                          - REFUNDED
                        example: PENDING
                      devMode:
                        type: boolean
                        description: >-
                          Indica se a transação foi criada em ambiente de
                          testes.
                        example: false
                      receiptUrl:
                        type: string
                        format: uri
                        nullable: true
                        description: URL do comprovante da transação.
                        example: null
                      amount:
                        type: number
                        description: Valor da transação em centavos.
                        example: 10000
                      platformFee:
                        type: number
                        description: Taxa da plataforma em centavos.
                        example: 100
                      externalId:
                        type: string
                        description: Identificador externo da transação.
                        example: saque-123
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da transação.
                        example: '2024-11-04T18:38:28.573Z'
                      updatedAt:
                        type: string
                        format: date-time
                        description: Data de atualização da transação.
                        example: '2024-11-04T18:38:28.573Z'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /payouts/get:
    get:
      summary: Buscar payout
      description: >-
        Permite que você recupere os detalhes de um payout específico usando o
        externalId.
      security:
        - bearerAuth: []
      parameters:
        - name: externalId
          in: query
          description: Identificador único do payout em seu sistema.
          required: true
          schema:
            type: string
            example: saque-123
      responses:
        '200':
          description: Detalhes do payout retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dados da transação de payout.
                    properties:
                      id:
                        type: string
                        description: Identificador único da transação.
                        example: txn_abc123xyz
                      status:
                        type: string
                        description: Status atual da transação.
                        enum:
                          - PENDING
                          - EXPIRED
                          - CANCELLED
                          - COMPLETE
                          - REFUNDED
                        example: COMPLETE
                      devMode:
                        type: boolean
                        description: >-
                          Indica se a transação foi criada em ambiente de
                          testes.
                        example: false
                      receiptUrl:
                        type: string
                        format: uri
                        nullable: true
                        description: URL do comprovante da transação.
                        example: 'https://app.abacatepay.com/receipt/txn_abc123xyz'
                      amount:
                        type: number
                        description: Valor da transação em centavos.
                        example: 10000
                      platformFee:
                        type: number
                        description: Taxa da plataforma em centavos.
                        example: 100
                      externalId:
                        type: string
                        description: Identificador externo da transação.
                        example: saque-123
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da transação.
                        example: '2024-11-04T18:38:28.573Z'
                      updatedAt:
                        type: string
                        format: date-time
                        description: Data de atualização da transação.
                        example: '2024-11-04T19:15:42.123Z'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: Saque não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    nullable: true
                    example: null
                  error:
                    type: string
                    description: Mensagem de erro indicando que o saque não foi encontrado.
                    example: Saque não encontrado com o externalId fornecido.
  /payouts/list:
    get:
      summary: Listar payouts
      description: >
        Permite que você recupere uma lista de todos os payouts criados com
        suporte a paginação.
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único da transação
          required: false
          schema:
            type: string
            example: tran_123456
        - name: externalId
          in: query
          description: Filtrar por identificador do payout no seu sistema
          required: false
          schema:
            type: string
            example: saque-123
        - name: status
          in: query
          description: Filtrar por status da transação
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - EXPIRED
              - CANCELLED
              - COMPLETE
              - REFUNDED
      responses:
        '200':
          description: Lista de payouts retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de saques criados.
                    items:
                      $ref: '#/components/schemas/Transaction'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /pix/send:
    post:
      summary: Enviar PIX
      description: >
        Permite que você envie dinheiro via PIX para qualquer chave PIX que não
        seja do titular da conta.


        Você pode usar esta rota para:

        - **Enviar pagamentos** para fornecedores, parceiros ou terceiros

        - **Realizar transferências** para contas de outras pessoas ou empresas

        - **Efetuar pagamentos** diretamente pela API


        **Importante**: Esta funcionalidade é diferente dos payouts, pois
        permite enviar dinheiro para chaves PIX que não pertencem ao titular da
        conta. Use payouts quando quiser enviar para sua própria chave PIX.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados necessários para enviar um PIX.
              required:
                - amount
                - externalId
                - pix
              additionalProperties: false
              example:
                amount: 10000
                externalId: pix-123
                description: Pagamento para fornecedor
                pix:
                  key: '11987654321'
                  type: PHONE
              properties:
                amount:
                  type: number
                  description: Valor do PIX em centavos.
                  minimum: 1
                  example: 10000
                externalId:
                  type: string
                  description: Identificador único do PIX em seu sistema.
                  example: pix-123
                description:
                  type: string
                  description: Descrição opcional do PIX.
                  example: Pagamento para fornecedor
                  x-mint:
                    hidden: true
                pix:
                  type: object
                  description: Dados da chave PIX de destino.
                  required:
                    - key
                    - type
                  additionalProperties: false
                  properties:
                    key:
                      type: string
                      description: Chave PIX de destino.
                      example: '11987654321'
                    type:
                      type: string
                      description: Tipo da chave PIX.
                      enum:
                        - CPF
                        - CNPJ
                        - PHONE
                        - EMAIL
                        - RANDOM
                        - BR_CODE
                      example: PHONE
      responses:
        '200':
          description: PIX enviado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixTransaction'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /pix/get:
    get:
      summary: Buscar PIX
      description: >
        Permite que você recupere os detalhes de uma transação PIX específica
        usando o ID ou externalId.


        Você pode buscar usando:

        - `id`: Identificador único da transação PIX na AbacatePay

        - `externalId`: Identificador único do PIX em seu sistema


        **Importante**: Você deve fornecer pelo menos um dos parâmetros (`id` ou
        `externalId`).
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: query
          description: Identificador único da transação PIX na AbacatePay.
          required: false
          schema:
            type: string
            example: txn_abc123xyz
        - name: externalId
          in: query
          description: Identificador único do PIX em seu sistema.
          required: false
          schema:
            type: string
            example: pix-123
      responses:
        '200':
          description: Detalhes do PIX retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixTransaction'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
        '404':
          description: PIX não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    nullable: true
                    example: null
                  error:
                    type: string
                    description: Mensagem de erro indicando que o PIX não foi encontrado.
                    example: PIX não encontrado com o ID ou externalId fornecido.
  /pix/list:
    get:
      summary: Listar PIX
      description: |
        Permite que você recupere uma lista de transações PIX criadas.

        Você pode filtrar usando:
        - `id`: Identificador único da transação PIX na AbacatePay
        - `externalId`: Identificador único do PIX em seu sistema
        - `status`: Status da transação
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único da transação PIX na AbacatePay
          required: false
          schema:
            type: string
            example: txn_abc123xyz
        - name: externalId
          in: query
          description: Filtrar por identificador do PIX em seu sistema
          required: false
          schema:
            type: string
            example: pix-123
        - name: status
          in: query
          description: Filtrar por status da transação
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - EXPIRED
              - CANCELLED
              - COMPLETE
              - REFUNDED
      responses:
        '200':
          description: Lista de PIX retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de transações PIX criadas.
                    items:
                      $ref: '#/components/schemas/PixTransaction'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /subscriptions/create:
    post:
      summary: Criar uma nova assinatura (Checkout de assinatura)
      description: >
        Cria um Checkout de assinatura — uma página de pagamento igual ao
        Checkout comum, mas para cobrança recorrente.


        Aceita os mesmos parâmetros do Checkout (`returnUrl`, `completionUrl`,
        `customerId`, `externalId`, `metadata`, `coupons`, `method`). O Checkout
        de assinatura aceita **apenas um produto**; o ciclo (frequência) já deve
        estar definido no produto ao criá-lo na loja — não é enviado no
        checkout.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >
                Mesmos parâmetros do Checkout, com `items` contendo exatamente
                um item (`id` e `quantity`).

                O produto referenciado deve ter sido criado com ciclo de
                assinatura (frequency) na loja.
              required:
                - items
              additionalProperties: false
              example:
                items:
                  - id: prod-1234
                    quantity: 1
                customerId: cust_abc123xyz
                externalId: subs-123
                returnUrl: 'https://seusite.com/voltar'
                completionUrl: 'https://seusite.com/sucesso'
                metadata:
                  plan: premium
              properties:
                items:
                  type: array
                  description: >
                    Lista com **exatamente um** item. O produto deve ter sido
                    criado com ciclo de assinatura (frequency).

                    O valor total é calculado a partir do produto.
                  minItems: 1
                  maxItems: 1
                  items:
                    type: object
                    required:
                      - id
                      - quantity
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        description: >-
                          ID público do produto na sua loja (produto criado com
                          ciclo de assinatura).
                        example: prod-1234
                      quantity:
                        type: integer
                        description: Quantidade (geralmente 1 para assinatura).
                        minimum: 1
                        example: 1
                method:
                  type: string
                  description: Método de pagamento disponível.
                  enum:
                    - PIX
                    - CARD
                returnUrl:
                  type: string
                  format: uri
                  description: >-
                    URL para onde o cliente será redirecionado ao clicar em
                    "Voltar" no checkout.
                completionUrl:
                  type: string
                  format: uri
                  description: >-
                    URL para onde o cliente será redirecionado após o pagamento
                    ser concluído.
                customerId:
                  type: string
                  description: >
                    ID de um cliente já cadastrado na sua loja.

                    Se informado, o checkout será pré-preenchido com os dados
                    deste cliente.
                coupons:
                  type: array
                  description: Lista de cupons que podem ser utilizados nesta cobrança.
                  items:
                    type: string
                  maxItems: 50
                externalId:
                  type: string
                  description: >-
                    ID da assinatura no seu sistema, caso queira manter uma
                    referência própria.
                metadata:
                  type: object
                  description: Metadados adicionais. Campo livre para a sua aplicação.
                  additionalProperties: true
      responses:
        '200':
          description: >-
            Checkout de assinatura criado com sucesso. Use a `url` retornada
            para redirecionar o cliente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Billing'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /subscriptions/list:
    get:
      summary: Listar assinaturas (Checkouts de assinatura)
      description: >
        Retorna todos os Checkouts de assinatura que você criou, com suporte a
        paginação baseada em cursor.

        Cada item possui o mesmo formato de um Checkout: `id`, `url`,
        `amount`, `items`, `status`, etc.
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          description: Cursor para buscar itens após este ponto
          required: false
          schema:
            type: string
        - name: before
          in: query
          description: Cursor para buscar itens antes deste ponto
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Quantidade de itens por página (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
            example: 100
        - name: id
          in: query
          description: Filtrar por identificador único do Checkout de assinatura
          required: false
          schema:
            type: string
            example: bill_abc123xyz
        - name: externalId
          in: query
          description: Filtrar por identificador da assinatura no seu sistema
          required: false
          schema:
            type: string
            example: subs-123
        - name: status
          in: query
          description: Filtrar por status do Checkout de assinatura
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - EXPIRED
              - CANCELLED
              - PAID
              - REFUNDED
        - name: email
          in: query
          description: Filtrar por e-mail do cliente associado
          required: false
          schema:
            type: string
            example: daniel_lima@abacatepay.com
        - name: taxId
          in: query
          description: Filtrar por CPF ou CNPJ do cliente associado
          required: false
          schema:
            type: string
            example: 123.456.789-01
      responses:
        '200':
          description: Lista de Checkouts de assinatura retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: >-
                      Lista de Checkouts de assinatura (mesmo payload de
                      Checkout).
                    items:
                      $ref: '#/components/schemas/Billing'
                  success:
                    $ref: '#/components/schemas/Success'
                  error:
                    type: string
                    nullable: true
                    example: null
                  pagination:
                    $ref: '#/components/schemas/PaginationCursor'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /store/get:
    get:
      summary: Obter detalhes da loja
      description: >-
        Permite que você recupere os detalhes da sua conta/loja, incluindo
        informações de saldo.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Detalhes da loja retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Store'
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /public-mrr/merchant-info:
    get:
      summary: Obter informações do merchant
      description: >-
        Retorna informações básicas da loja (ID, nome, website e data de
        criação).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Informações do merchant retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identificador único da loja
                        example: store_abc123xyz
                      name:
                        type: string
                        description: Nome da loja
                        example: Example Tech
                      website:
                        type: string
                        description: Website da loja
                        example: 'https://www.example.com'
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da loja
                        example: '2024-12-06T18:53:31.756Z'
                    required:
                      - id
                      - name
                      - website
                      - createdAt
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /public-mrr/mrr:
    get:
      summary: Obter MRR (Monthly Recurring Revenue)
      description: >-
        Retorna o MRR (receita recorrente mensal) e o total de assinaturas
        ativas da loja.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dados de MRR retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      mrr:
                        type: number
                        description: >-
                          Receita recorrente mensal em centavos. Valor 0 indica
                          que não há receita recorrente no momento.
                        example: 0
                      totalActiveSubscriptions:
                        type: integer
                        description: >-
                          Total de assinaturas ativas. Valor 0 indica que não há
                          assinaturas ativas no momento.
                        example: 0
                    required:
                      - mrr
                      - totalActiveSubscriptions
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: >-
                      Mensagem de erro descrevendo o motivo da falha na
                      autenticação.
                    example: Token de autenticação inválido ou ausente.
  /public-mrr/revenue:
    get:
      summary: Obter receita por período
      description: >-
        Retorna a receita total, total de transações e transações por dia em um
        período específico. Os dados são cacheados por 1 hora (3600 segundos)
        para melhor performance. A data de fim deve ser posterior à data de
        início.
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          required: true
          description: Data de início do período (formato YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          required: true
          description: Data de fim do período (formato YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-01-31'
      responses:
        '200':
          description: Dados de receita retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totalRevenue:
                        type: number
                        description: Receita total do período em centavos
                        example: 150000
                      totalTransactions:
                        type: integer
                        description: Total de transações no período
                        example: 45
                      transactionsPerDay:
                        type: object
                        description: >-
                          Objeto com transações agrupadas por dia (chave é a
                          data no formato YYYY-MM-DD)
                        additionalProperties:
                          type: object
                          properties:
                            amount:
                              type: number
                              description: Valor total das transações do dia em centavos
                              example: 5000
                            count:
                              type: integer
                              description: Quantidade de transações do dia
                              example: 3
                          required:
                            - amount
                            - count
                          additionalProperties: false
                        example:
                          '2024-01-15':
                            amount: 5000
                            count: 3
                          '2024-01-16':
                            amount: 3000
                            count: 2
                    required:
                      - totalRevenue
                      - totalTransactions
                      - transactionsPerDay
                    additionalProperties: false
                  error:
                    type: string
                    nullable: true
                    example: null
                  success:
                    $ref: '#/components/schemas/Success'
        '400':
          description: Erro de validação. Parâmetros inválidos ou ausentes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
[...]
