openapi: 3.1.0
info:
  title: API AbacatePay
  description: API para gerenciamento de cobranças e pagamentos usando o AbacatePay.
  version: 1.0.0
servers:
  - url: https://api.abacatepay.com/v1
    description: Único servidor para os ambientes de produção e sandbox.
paths:
  /customer/create:
    post:
      summary: Criar um novo cliente
      description: Permite que você crie um novo cliente para a sua loja.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Os dados do seu cliente caso deseje criá-lo no momento da criação da sua cobrança.
              required: ['name', 'cellphone', 'email', 'taxId']
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: Nome completo do seu cliente
                  example: Daniel Lima
                cellphone:
                  type: string
                  description: Celular do cliente
                  example: (11) 4002-8922
                email:
                  type: string
                  description: E-mail do cliente
                  example: daniel_lima@abacatepay.com
                taxId:
                  type: string
                  description: CPF ou CNPJ válido do cliente.
                  example: 123.456.789-01
      responses:
        '200':
          description: Cliente criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /customer/list:
    get:
      summary: Listar clientes
      description: Permite que você recupere uma lista de todos os seus clientes.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de clientes retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de clientes.
                    items:
                      $ref: '#/components/schemas/Customer'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /coupon/create:
    post:
      summary: Criar um novo cupom
      description: Permite que você crie um novo cupom que pode ser usado por seus clientes para aplicar descontos.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Coupon'
                error:
                  type: 'null'
      responses:
        '200':
          description: Cliente criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /coupon/list:
    get:
      summary: Listar cupons
      description: Permite que você recupere uma lista de todos os seus cupons.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de cupons retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cupons.
                    items:
                      $ref: '#/components/schemas/CouponResponse'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /billing/create:
    post:
      summary: Criar uma cobrança com nosso Checkout
      description: Cria uma cobrança com checkout integrado e retorna a URL para o cliente concluir o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              additionalProperties: false
              properties:
                items:
                  type: array
                  description: |
                    Lista de itens incluídos na cobrança.
                    Este é o único campo obrigatório — o valor total é calculado a partir destes itens.
                  minItems: 1
                  items:
                    type: object
                    additionalProperties: false
                    required: [id, quantity]
                    properties:
                      id:
                        type: string
                        description: ID público do produto no seu sistema.
                        example: prod-1234
                      quantity:
                        type: integer
                        description: Quantidade deste item.
                        minimum: 1
                        example: 2
                  example:
                    - id: prod-1234
                returnUrl:
                  type: string
                  format: uri
                  description: URL para onde o cliente será redirecionado ao clicar em "Voltar" no checkout.
                  example: https://example.com/billing
                  x-mint:
                    hidden: true
                completionUrl:
                  type: string
                  format: uri
                  description: URL para onde o cliente será redirecionado após o pagamento ser concluído.
                  example: https://example.com/completion
                  x-mint:
                    hidden: true
                customerId:
                  type: string
                  description: |
                    ID de um cliente já cadastrado na sua loja.
                    Se informado, o checkout será pré-preenchido com os dados deste cliente.
                    
                    **Exemplo**: `"cust_abcdefghij"`
                  x-mint:
                    hidden: true
                customer:
                  type: object
                  description: |
                    Dados do cliente. Se o cliente ainda não existir, será criado automaticamente.
                    Opcional quando `customerId` for usado.
                    
                    **Importante**: O objeto `customer` não é obrigatório, mas ao informar qualquer campo do `customer`, todos os campos (`name`, `cellphone`, `email` e `taxId`) se tornam obrigatórios.
                  additionalProperties: false
                  required: [name, cellphone, email, taxId]
                  x-mint:
                    hidden: true
                  properties:
                    name:
                      type: string
                      description: |
                        Nome completo do cliente.
                        
                        **Exemplo**: `"Daniel Lima"`
                    cellphone:
                      type: string
                      description: |
                        Celular do cliente.
                        
                        **Exemplo**: `"11 4002-8922"`
                    email:
                      type: string
                      description: |
                        E-mail do cliente.
                        
                        **Exemplo**: `"daniel_lima@abacatepay.com"`
                    taxId:
                      type: string
                      description: |
                        CPF ou CNPJ do cliente.
                        
                        **Exemplo**: `"123.456.789-01"`
                coupons:
                  type: array
                  description: |
                    Lista de cupons que podem ser utilizados nesta cobrança.
                    
                    **Exemplo**: `["ABKT10", "ABKT5", "PROMO10"]`
                  items:
                    type: string
                  maxItems: 50
                  x-mint:
                    hidden: true

                externalId:
                  type: string
                  description: |
                    ID da cobrança no seu sistema, caso queira manter uma referência própria.
                    
                    **Exemplo**: `"seu_id_123"`
                  x-mint:
                    hidden: true

                metadata:
                  type: object
                  description: |
                    Metadados adicionais da cobrança. Campo livre para a sua aplicação.
                    
                    **Exemplo**:
                    ```json
                    {
                      "source": "landing-page-black-friday",
                      "campaign": "BF-2025"
                    }
                    ```
                  additionalProperties: true
                  x-mint:
                    hidden: true
      responses:
        "200":
          description: Cobrança criada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Billing"
                  error:
                    type: "null"
        "401":
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Motivo da falha na autenticação.
                    example: Token de autenticação inválido ou ausente.
  /billing/list:
    get:
      summary: Listar cobranças
      description: Retorna todas as cobranças que você criou.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cobranças listadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cobranças.
                    items:
                      $ref: '#/components/schemas/Billing'
                  error:
                    type: 'null'
        '401':
          description: Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Token de autenticação inválido ou ausente.'

  /pixQrCode/create:
    post:
      summary: 'Criar QRCode PIX'
      description: Permite que você crie um código copia-e-cola e um QRCode Pix para seu cliente fazer o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Valor da cobrança em centavos.
                expiresIn:
                  type: number
                  description: Tempo de expiração da cobrança em segundos.
                description:
                  type: string
                  maxLength: 140
                  description: Mensagem que aparecerá na hora do pagamento do PIX.
                customer:
                  type: object
                  description: |
                    Os dados do seu cliente para criá-lo.
                    O objeto de customer não é obrigatório, mas ao informar qualquer informação do `customer` todos os campos `name`, `cellphone`, `email` e `taxId` são obrigatórios.
                  required: ['name', 'cellphone', 'email', 'taxId']
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                      description: Nome completo do seu cliente
                      example: Daniel Lima
                    cellphone:
                      type: string
                      description: Celular do cliente
                      example: (11) 4002-8922
                    email:
                      type: string
                      description: E-mail do cliente
                      example: daniel_lima@abacatepay.com
                    taxId:
                      type: string
                      description: CPF ou CNPJ do cliente.
                      example: 123.456.789-01
                metadata:
                      type: object
                      description: Metadados opcionais para a cobrança
                      additionalProperties: true
                      default:
                       externalId: '123'
              required: ['amount']
              additionalProperties: false
      responses:
        '200':
          description: QRCode Pix criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /pixQrCode/check:
    get:
      summary: 'Checar Status'
      description: Checar status do pagamento do QRCode Pix.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status retornado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Informação sobre o andamento do QRCode Pix.
                        enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
                        example: 'PENDING'
                      expiresAt:
                        type: string
                        description: Data de expiração do QRCode Pix
                        example: '2025-03-25T21:50:20.772Z'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
      parameters:
        - name: id
          in: query
          description: ID do QRCode Pix
          required: true
          schema:
            type: string
  /pixQrCode/simulate-payment:
    post:
      summary: 'Simular Pagamento'
      description: Simula o pagamento de um QRCode Pix criado no modo de desenvolvimento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  description: Metadados opcionais para a requisição
                  default: {}
      responses:
        '200':
          description: Pagamento ralizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PixQRCode'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
      parameters:
        - name: id
          in: query
          description: ID do QRCode Pix
          required: true
          schema:
            type: string
  /withdraw/create:
    post:
      summary: Criar um novo saque
      description: Permite que você crie um novo saque para transferir valores da sua conta para uma chave PIX.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Dados necessários para criar um saque.
              required: ['externalId', 'method', 'amount', 'pix']
              additionalProperties: false
              properties:
                description:
                  type: string
                  description: Descrição opcional do saque.
                  example: Saque para conta principal
                externalId:
                  type: string
                  description: Identificador único do saque em seu sistema.
                  example: 'withdraw-1234'
                method:
                  type: string
                  description: Método de saque disponível.
                  enum: ['PIX']
                  example: 'PIX'
                amount:
                  type: number
                  description: Valor do saque em centavos.
                  minimum: 350
                  example: 5000
                pix:
                  type: object
                  description: Dados da chave PIX para receber o saque.
                  required: ['type', 'key']
                  additionalProperties: false
                  properties:
                    type:
                      type: string
                      description: Tipo da chave PIX.
                      enum: ['CPF', 'CNPJ', 'PHONE', 'EMAIL', 'RANDOM','BR_CODE']
                      example: 'CPF'
                    key:
                      type: string
                      description: Valor da chave PIX.
                      example: '123.456.789-01'
      responses:
        '200':
          description: Saque criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Transaction'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /withdraw/get:
    get:
      summary: Buscar saque
      description: Permite que você recupere os detalhes de um saque específico usando o externalId.
      security:
        - bearerAuth: []
      parameters:
        - name: externalId
          in: query
          description: Identificador único do saque em seu sistema.
          required: true
          schema:
            type: string
            example: 'withdraw-1234'
      responses:
        '200':
          description: Detalhes do saque retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Transaction'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
        '404':
          description: Saque não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: 'null'
                  error:
                    type: string
                    description: Mensagem de erro indicando que o saque não foi encontrado.
                    example: 'Saque não encontrado com o externalId fornecido.'
  /withdraw/list:
    get:
      summary: Listar saques
      description: Permite que você recupere uma lista de todos os saques criados.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de saques retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de saques criados.
                    items:
                      $ref: '#/components/schemas/Transaction'
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /store/get:
    get:
      summary: Obter detalhes da loja
      description: Permite que você recupere os detalhes da sua conta/loja, incluindo informações de saldo.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Detalhes da loja retornados com sucesso.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      error:
                        type: string
                        description: Mensagem de erro caso ocorra algum problema.
                        example: 'Erro ao recuperar dados da loja.'
                      data:
                        type: 'null'
                    required: ['error']
                  - type: object
                    properties:
                      error:
                        type: 'null'
                      data:
                        $ref: '#/components/schemas/Store'
                    required: ['error', 'data']
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /public-mrr/merchant-info:
    get:
      summary: Obter informações do merchant
      description: Retorna informações básicas da loja (nome, website e data de criação).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Informações do merchant retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Nome da loja
                        example: 'Example Tech'
                      website:
                        type: string
                        description: Website da loja
                        example: 'https://www.example.com'
                      createdAt:
                        type: string
                        format: date-time
                        description: Data de criação da loja
                        example: '2024-12-06T18:53:31.756Z'
                    required: ['name', 'website', 'createdAt']
                    additionalProperties: false
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /public-mrr/mrr:
    get:
      summary: Obter MRR (Monthly Recurring Revenue)
      description: Retorna o MRR (receita recorrente mensal) e o total de assinaturas ativas da loja.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dados de MRR retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      mrr:
                        type: number
                        description: Receita recorrente mensal em centavos. Valor 0 indica que não há receita recorrente no momento.
                        example: 0
                      totalActiveSubscriptions:
                        type: integer
                        description: Total de assinaturas ativas. Valor 0 indica que não há assinaturas ativas no momento.
                        example: 0
                    required: ['mrr', 'totalActiveSubscriptions']
                    additionalProperties: false
                  error:
                    type: 'null'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
  /public-mrr/revenue:
    get:
      summary: Obter receita por período
      description: Retorna a receita total, total de transações e transações por dia em um período específico. Os dados são cacheados por 1 hora (3600 segundos) para melhor performance. A data de fim deve ser posterior à data de início.
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          required: true
          description: Data de início do período (formato YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          required: true
          description: Data de fim do período (formato YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-01-31'
      responses:
        '200':
          description: Dados de receita retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      totalRevenue:
                        type: number
                        description: Receita total do período em centavos
                        example: 150000
                      totalTransactions:
                        type: integer
                        description: Total de transações no período
                        example: 45
                      transactionsPerDay:
                        type: object
                        description: Objeto com transações agrupadas por dia (chave é a data no formato YYYY-MM-DD)
                        additionalProperties:
                          type: object
                          properties:
                            amount:
                              type: number
                              description: Valor total das transações do dia em centavos
                              example: 5000
                            count:
                              type: integer
                              description: Quantidade de transações do dia
                              example: 3
                          required: ['amount', 'count']
                          additionalProperties: false
                        example:
                          '2024-01-15':
                            amount: 5000
                            count: 3
                          '2024-01-16':
                            amount: 3000
                            count: 2
                    required: ['totalRevenue', 'totalTransactions', 'transactionsPerDay']
                    additionalProperties: false
                  error:
                    type: 'null'
        '400':
          description: Erro de validação. Parâmetros inválidos ou ausentes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o problema de validação.
                    example: 'Start date and end date are required'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Token de autenticação inválido ou ausente.'
components:
  schemas:
    Customer:
      type: object
      description: Os dados do seu cliente.
      required: ['name', 'cellphone', 'email', 'taxId']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único do cliente
          example: 'bill_123456'
        metadata:
          type: object
          description: Dados do cliente
          properties:
            name:
              type: string
              description: Nome completo do seu cliente
              example: Daniel Lima
            cellphone:
              type: string
              description: Celular do cliente
              example: (11) 4002-8922
            email:
              type: string
              description: E-mail do cliente
              example: daniel_lima@abacatepay.com
            taxId:
              type: string
              description: CPF ou CNPJ do cliente.
              example: 123.456.789-01
    Coupon:
      type: object
      description: Os dados do seu cupom.
      required: ['code', 'discount', 'discountKind']
      additionalProperties: false
      properties:
        code:
          type: string
          description: Identificador único do cupom
          example: DEYVIN_20
        notes:
          type: string
          description: Descrição sbre o cupom
          example: Cupom de desconto pro meu público
        maxRedeems:
          type: number
          description: Quantidade de vezes em que o cupom pode ser resgatado. -1 Significa que esse cupom pode ser resgatado sem limites
          example: 10
          default: -1
        discountKind:
          type: string
          description: Tipo de desconto aplicado, porcentagem ou fixo
          enum: ['PERCENTAGE', 'FIXED']
        discount:
          type: number
          description: Valor de desconto a ser aplicado
        metadata:
          type: object
          description: Objeto chave valor para metadados do cupom
          default: {}
    CouponResponse:
      type: object
      description: Os dados do seu cupom.
      required: ['id', 'discount', 'discountKind', 'status', 'createdAt', 'updatedAt']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único do cupom
          example: DEYVIN_20
        notes:
          type: string
          description: Descrição sobre o cupom
          example: Cupom de desconto pro meu público
        maxRedeems:
          type: integer
          description: Quantidade de vezes em que o cupom pode ser resgatado. -1 significa ilimitado.
          example: -1
          default: 10
        redeemsCount:
          type: integer
          description: Quantidade de vezes que o cupom já foi resgatado.
          example: 0
        discountKind:
          type: string
          description: Tipo de desconto aplicado, porcentagem ou fixo
          enum: ['PERCENTAGE', 'FIXED']
          example: PERCENTAGE
        discount:
          type: number
          description: Valor de desconto a ser aplicado
          example: 123
        devMode:
          type: boolean
          description: Indica se o cupom foi criado em ambiente de testes.
          example: true
        status:
          type: string
          description: Status atual do cupom.
          enum: ['ACTIVE', 'INACTIVE', 'EXPIRED']
          example: ACTIVE
        createdAt:
          type: string
          format: date-time
          description: Data de criação do cupom.
          example: '2025-05-25T23:43:25.250Z'
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização do cupom.
          example: '2025-05-25T23:43:25.250Z'
        metadata:
          type: object
          description: Objeto chave valor para metadados do cupom
          default: {}

    Billing:
      type: object
      properties:
        id:
          type: string
          description: Identificador único da cobrança.
          example: 'bill_123456'
        url:
          type: string
          format: uri
          description: URL onde o usuário pode concluir o pagamento.
          example: 'https://pay.abacatepay.com/bill-5678'
        amount:
          type: number
          description: Valor total a ser pago em centavos. (Deprecated)
          deprecated: true
          example: 4000
        status:
          type: string
          description: Status atual da cobrança.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Indica se a cobrança foi criada em ambiente de testes.
          example: true
        products:
          type: array
          description: Lista de produtos na cobrança.
          items:
            type: object
            properties:
              id:
                type: string
                description: Identificador único do produto.
                example: 'prod_123456'
              externalId:
                type: string
                description: O id do produto em seu sistema.
                example: 'prod-1234'
              quantity:
                type: integer
                description: Quantidade do produto sendo adquirida.
                example: 2
        nextBilling:
          type: string
          format: date-time
          nullable: true
          description: Data e hora da próxima cobrança, ou null para cobranças únicas.
          example: 'null'
        customer:
          type: object
          nullable: true
          $ref: '#/components/schemas/Customer'
        coupons: 
          type: array
          description: Lista de cupons disponíveis para resem usados com a billing
          nullable: true
          default: []
          items:
            type: string
      required:
        ['id', 'url', 'status', 'devMode', 'products', 'createdAt', 'updatedAt']
    PixQRCode:
      type: object
      properties:
        id:
          type: string
          description: Identificador único do QRCode Pix.
          example: 'pix_char_123456'
        amount:
          type: number
          description: Valor a ser pago.
          example: 100
        status:
          type: string
          description: Informação sobre o andamento do QRCode Pix.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Ambiente no qual o QRCode Pix foi criado.
          example: true
        brCode:
          type: string
          description: Código copia-e-cola do QRCode Pix.
          example: '00020101021226950014br.gov.bcb.pix'
        brCodeBase64:
          type: string
          description: Imagem em Base64 do QRCode Pix.
          example: 'data:image/png;base64,iVBORw0KGgoAAA'
        platformFee:
          type: number
          description: Taxas da plataforma
          example: 80
        createdAt:
          type: string
          description: Data de criação do QRCode Pix.
          example: '2025-03-24T21:50:20.772Z'
        updatedAt:
          type: string
          description: Data de atualização do QRCode Pix.
          example: '2025-03-24T21:50:20.772Z'
        expiresAt:
          type: string
          description: Data de expiração do QRCode Pix
          example: '2025-03-25T21:50:20.772Z'
    Transaction:
      type: object
      description: Dados de uma transação (pagamento ou saque).
      properties:
        id:
          type: string
          description: Identificador único da transação.
          example: 'tran_123456'
        status:
          type: string
          description: Status atual da transação.
          enum: ['PENDING', 'EXPIRED', 'CANCELLED', 'COMPLETE', 'REFUNDED']
          example: 'PENDING'
        devMode:
          type: boolean
          description: Indica se a transação foi criada em ambiente de testes.
          example: true
        receiptUrl:
          type: string
          format: uri
          description: URL do comprovante da transação.
          example: 'https://abacatepay.com/receipt/tran_123456'
        kind:
          type: string
          description: Tipo da transação.
          enum: ['PAYMENT', 'WITHDRAW']
          example: 'WITHDRAW'
          default: 'WITHDRAW'
        amount:
          type: number
          description: Valor da transação em centavos.
          example: 5000
        platformFee:
          type: number
          description: Taxa da plataforma em centavos.
          example: 80
        externalId:
          type: string
          description: Identificador externo da transação.
          example: 'withdraw-1234'
        createdAt:
          type: string
          format: date-time
          description: Data de criação da transação.
          example: '2025-03-24T21:50:20.772Z'
        updatedAt:
          type: string
          format: date-time
          description: Data de atualização da transação.
          example: '2025-03-24T21:50:20.772Z'
      required:
        ['id', 'status', 'devMode', 'receiptUrl', 'kind', 'amount', 'platformFee', 'createdAt', 'updatedAt']
    Store:
      type: object
      description: Dados da loja/conta do usuário.
      required: ['id', 'name', 'balance']
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único da loja.
          example: 'store_123456'
        name:
          type: string
          description: Nome da loja.
          example: 'Minha Loja Online'
        balance:
          type: object
          description: Informações de saldo da loja.
          required: ['available', 'pending', 'blocked']
          additionalProperties: false
          properties:
            available:
              type: number
              description: Saldo disponível para saque em centavos.
              example: 15000
            pending:
              type: number
              description: Saldo pendente de confirmação em centavos.
              example: 5000
            blocked:
              type: number
              description: Saldo bloqueado em disputas em centavos.
              example: 2000
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Todas as requisições devem incluir sua chave de API no header Authorization usando o formato `Bearer <abacatepay-api-key>`. Sem esse header a requisição será rejeitada.
        
        Saiba mais sobre como criar e usar chaves de API na [documentação de autenticação](/pages/authentication).